In [99]:
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

from copy import deepcopy

import warnings
warnings.filterwarnings('ignore')

# 아파트 매매 실거래 평균가격 
- 단위 : 만원/m^2
- 출처 → [아파트 매매 실거래 평균 가격](https://kosis.kr/statHtml/statHtml.do?orgId=408&tblId=DT_KAB_11672_S15&conn_path=I2)

In [100]:
# 데이터 불러오기
# 단위 : 만원/m^2
apt = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/data/데이터 시각화PJT/아파트_매매_실거래_평균가격(https:  kosis.kr statHtml statHtml.do?orgId=408&tblId=DT_KAB_11672_S15&conn_path=I2).csv', encoding='cp949')

In [101]:
# 데이터 불러오기
apt = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/data/데이터 시각화PJT/아파트_매매_실거래_평균가격(https:  kosis.kr statHtml statHtml.do?orgId=408&tblId=DT_KAB_11672_S15&conn_path=I2).csv', encoding='cp949')

# 컬럼명 변경
apt['행정구역'] = ['전국','서울특별시','부산광역시','대구광역시','인천광역시','광주광역시','대전광역시','울산광역시','세종특별자치시','경기도','강원도','충청북도','충청남도','전라북도','전라남도','경상북도','경상남도','제주특별자치도']

# 세종시 '-'를 데이터 0으로 초기화
for col in apt.columns[1:]:  
  apt[col].replace('-',0, inplace=True)

# ------------ 년도별 평균 구하기 ----------
apt_avg = deepcopy(apt) 

# 컬럼 타입 변경
for col in apt_avg.columns[1:] :
  apt_avg = apt_avg.astype({col:'float'})

# 2020년까지 각 연도별 평균 컬럼 생성 및 값 초기화
for i in range(15):         
  apt_avg[f'{i+2006}'] = 0.0   
  for j in range(len(apt_avg)):          
    apt_avg[f'{i+2006}'][j] = round(sum(apt_avg.iloc[j, (i*12)+1 : ((i+1)*12)+1 ]) /12, 2) # 각 연도 평균 (round함수 이용해서 소수점 제한)
# 2020년 전까지 월별 데이터 삭제
for col in apt.columns[1:] :   
  if col == '2021. 01': break    
  del apt_avg[col]            

# 2021년도 평균 컬럼 생성 및 값 초기화
apt_avg['2021'] = 0.0    
for n in range(len(apt_avg)):      
  apt_avg['2021'][n] = round( sum( apt_avg.iloc[n, 1:11] )/10 ,2) 
# 2021년도 월별 데이터 삭제
for col in apt_avg.columns[1:11] :
  del apt_avg[col]

In [102]:
apt_avg

       행정구역    2006    2007    2008  ...    2018     2019     2020     2021
0        전국  252.31  224.62  236.70  ...  409.67   428.16   454.28   483.37
1     서울특별시  442.73  450.44  551.06  ...  806.94  1000.13  1104.96  1379.94
2     부산광역시  150.10  157.31  164.43  ...  351.37   372.90   416.99   422.24
3     대구광역시  167.63  165.33  166.70  ...  360.99   355.84   398.37   391.85
4     인천광역시  184.33  216.57  276.60  ...  350.28   360.65   398.90   485.77
5     광주광역시  113.89  117.81  123.62  ...  281.42   286.52   326.25   349.46
6     대전광역시  173.09  161.23  161.91  ...  297.34   316.24   376.57   429.57
7     울산광역시  138.79  164.67  169.50  ...  295.26   306.58   346.53   339.52
8   세종특별자치시    0.00    0.00    0.00  ...  390.51   419.96   554.72   666.88
9       경기도  272.72  274.09  313.36  ...  438.03   450.46   499.81   610.04
10      강원도   98.98  100.20  110.22  ...  199.70   193.77   213.92   241.08
11     충청북도  120.91  119.16  120.92  ...  200.82   206.25   228.43   252.55
12     충청남도  127.42  130.01  138.10  ...  214.77   235.21   256.34   256.05
13     전라북도   92.12   99.46  111.22  ...  196.36   198.43   218.14   223.61
14     전라남도   75.75   84.26   95.73  ...  194.28   201.62   220.83   227.41
15     경상북도  100.36  106.24  108.83  ...  184.76   185.88   210.48   225.85
16     경상남도  133.48  138.83  143.39  ...  238.62   249.16   279.69   290.96
17  제주특별자치도  119.37  129.37  133.48  ...  387.59   380.72   396.86   436.92

[18 rows x 17 columns]

In [103]:
pd.DataFrame(apt_avg).to_csv('/content/drive/MyDrive/멀티캠퍼스/[D9&10] 데이터시각화 프로젝트_4조/이경희/data/아파트 매매 실거래 평균 가격.csv', index=False)