In [1]:
import pandas as pd

# 데이터 불러오기  
* 기간 : 22년 1월 ~ 19년 1월   
* 용량 : 총 약 300MB  
* 출처 : [해양수산부_수산물_위판정보](https://www.data.go.kr/data/15012417/fileData.do#layer_data_infomation)

In [11]:
# 22년도   
df_202201 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/data/해양수산부_수산물 위판정보_2022.01.csv',encoding='cp949')
# 21년도  
df_202112 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/data/해양수산부_수산물 위판정보_2021.12.csv',encoding='cp949')
df_202111 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/data/해양수산부_수산물 위판정보_2021.11.csv',encoding='cp949')
df_202110 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/data/해양수산부_수산물 위판정보_2021.10.csv',encoding='cp949')
df_202109 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/data/해양수산부_수산물 위판정보_2021.09.csv',encoding='cp949')
df_202108 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/data/해양수산부_수산물 위판정보_2021.08.csv',encoding='cp949')
df_202107 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/data/해양수산부_수산물 위판정보_2021.07.csv',encoding='cp949')
df_202106 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/data/해양수산부_수산물 위판정보_2021.06.csv',encoding='cp949')
df_202105 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/data/해양수산부_수산물 위판정보_2021.05.csv',encoding='cp949')
df_202104 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/data/해양수산부_수산물 위판정보_2021.04.csv',encoding='cp949')
df_202103 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/data/해양수산부_수산물 위판정보_2021.03.csv',encoding='cp949')
df_202102 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/data/해양수산부_수산물 위판정보_2021.02.csv',encoding='cp949')
df_202101 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/data/해양수산부_수산물 위판정보_2021.01.csv',encoding='cp949')
# 20년도  
df_202012 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/data/해양수산부_수산물 위판정보_2020.12.csv',encoding='cp949')
df_202011 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/data/해양수산부_수산물 위판정보_2020.11.csv',encoding='cp949')
df_202010 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/data/해양수산부_수산물 위판정보_2020.10.csv',encoding='cp949')
df_202009 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/data/해양수산부_수산물 위판정보_2020.09.csv',encoding='cp949')
df_202008 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/data/해양수산부_수산물 위판정보_2020.08.csv',encoding='cp949')
df_202007 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/data/해양수산부_수산물 위판정보_2020.07.csv',encoding='cp949')
df_202006 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/data/해양수산부_수산물 위판정보_2020.06.csv',encoding='cp949')
df_202005 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/data/해양수산부_수산물 위판정보_2020.05.csv',encoding='cp949')
df_202004 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/data/해양수산부_수산물 위판정보_2020.04.csv',encoding='cp949')
df_202003 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/data/해양수산부_수산물 위판정보_2020.03.csv',encoding='cp949')
df_202002 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/data/해양수산부_수산물 위판정보_2020.02.csv',encoding='cp949')
df_202001 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/data/해양수산부_수산물 위판정보_2020.01.csv',encoding='cp949')
# 19년도  
df_201912 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/data/해양수산부_수산물 위판정보_2019.12.csv',encoding='cp949')
df_201911 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/data/해양수산부_수산물 위판정보_2019.11.csv',encoding='cp949')
df_201910 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/data/해양수산부_수산물 위판정보_2019.10.csv',encoding='cp949')
df_201909 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/data/해양수산부_수산물 위판정보_2019.09.csv',encoding='cp949')
df_201908 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/data/해양수산부_수산물 위판정보_2019.08.csv',encoding='cp949')
df_201907 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/data/해양수산부_수산물 위판정보_2019.07.csv',encoding='cp949')
df_201906 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/data/해양수산부_수산물 위판정보_2019.06.csv',encoding='cp949')
df_201905 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/data/해양수산부_수산물 위판정보_2019.05.csv',encoding='cp949')
df_201904 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/data/해양수산부_수산물 위판정보_2019.04.csv',encoding='cp949')
df_201903 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/data/해양수산부_수산물 위판정보_2019.03.csv',encoding='cp949')
df_201902 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/data/해양수산부_수산물 위판정보_2019.02.csv',encoding='cp949')
df_201901 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/data/해양수산부_수산물 위판정보_2019.01.csv',encoding='cp949')

In [15]:
# null값이 있는 행 제거
def null_rm(df):
  df.dropna(axis=0,inplace = True)
  df.reset_index(drop=True, inplace=True)

In [16]:
# 22년도
null_rm(df_202201)
# 21년도
null_rm(df_202112); null_rm(df_202111); null_rm(df_202110); null_rm(df_202109); null_rm(df_202108); null_rm(df_202107)
null_rm(df_202106); null_rm(df_202105); null_rm(df_202104); null_rm(df_202103); null_rm(df_202102); null_rm(df_202101)
# 20년도
null_rm(df_202012); null_rm(df_202011); null_rm(df_202010); null_rm(df_202009); null_rm(df_202008); null_rm(df_202007)
null_rm(df_202006); null_rm(df_202005); null_rm(df_202004); null_rm(df_202003); null_rm(df_202002); null_rm(df_202001)
# 19년도
null_rm(df_201912); null_rm(df_201911); null_rm(df_201910); null_rm(df_201909); null_rm(df_201908); null_rm(df_201907) 
null_rm(df_201906); null_rm(df_201905); null_rm(df_201904); null_rm(df_201903); null_rm(df_201902); null_rm(df_201901)

In [ ]:
# 확인
df_201901.isna().sum().sum()

0

## 컬럼명 변경 및 제거  (완)

### 아예 사용하지 않을 컬럼 제거 
버릴 columns
- '산지조합코드', '위판장코드', '위판장명','수산물표준코드', '어종상태코드',  '상품규격명', '상품단위명', '데이터기준일자','물량(킬로그램)', '최고가', '최저가', '수량'

In [17]:
# 컬럼명의 '\t'를 제거하고 필요없는 컬럼 제거하기 
def col_str_rm(df):
  for col in range(len(df.columns)):  
    old_col = df.columns[col]
    new_col = df.columns[col].replace("\t","").replace(" ","")
    df.rename(columns = {old_col : new_col}, inplace=True)

def col_rm(df): 
  df.drop( ['산지조합코드', '위판장코드', '위판장명','수산물표준코드', '어종상태코드',  '상품규격명', '상품단위명', '데이터기준일자','물량(킬로그램)', '최고가', '최저가', '수량'], axis=1, inplace = True )

In [19]:
# 22년도
col_str_rm(df_202201); col_rm(df_202201)
# 21년도
col_str_rm(df_202112); col_rm(df_202112)
col_str_rm(df_202111); col_rm(df_202111)
col_str_rm(df_202110); col_rm(df_202110)
col_str_rm(df_202109); col_rm(df_202109)
col_str_rm(df_202108); col_rm(df_202108)
col_str_rm(df_202107); col_rm(df_202107)
col_str_rm(df_202106); col_rm(df_202106)
col_str_rm(df_202105); col_rm(df_202105)
col_str_rm(df_202104); col_rm(df_202104)
col_str_rm(df_202103); col_rm(df_202103)
col_str_rm(df_202102); col_rm(df_202102)
col_str_rm(df_202101); col_rm(df_202101)
# 20년도
col_str_rm(df_202012); col_rm(df_202012)
col_str_rm(df_202011); col_rm(df_202011)
col_str_rm(df_202010); col_rm(df_202010)
col_str_rm(df_202009); col_rm(df_202009)
col_str_rm(df_202008); col_rm(df_202008)
col_str_rm(df_202007); col_rm(df_202007)
col_str_rm(df_202006); col_rm(df_202006)
col_str_rm(df_202005); col_rm(df_202005)
col_str_rm(df_202004); col_rm(df_202004)
col_str_rm(df_202003); col_rm(df_202003)
col_str_rm(df_202002); col_rm(df_202002)
col_str_rm(df_202001); col_rm(df_202001)
# 19년도
col_str_rm(df_201912); col_rm(df_201912)
col_str_rm(df_201911); col_rm(df_201911)
col_str_rm(df_201910); col_rm(df_201910)
col_str_rm(df_201909); col_rm(df_201909)
col_str_rm(df_201908); col_rm(df_201908)
col_str_rm(df_201907); col_rm(df_201907)
col_str_rm(df_201906); col_rm(df_201906)
col_str_rm(df_201905); col_rm(df_201905)
col_str_rm(df_201904); col_rm(df_201904)
col_str_rm(df_201903); col_rm(df_201903)
col_str_rm(df_201902); col_rm(df_201902)
col_str_rm(df_201901); col_rm(df_201901)

In [ ]:
df_202112.columns

Index(['위판일자', '산지조합명', '수산물표준코드명', '어종상태명', '물량(킬로그램)', '평균가', '총판매액'], dtype='object')

# To Do List
**전처리**  
``` 
1. 어종 선정
```
```
2. 산지조합명과 수산물표준코드명이 같은 행인 경우
  - 물량 → 평균내기
  - 평균가 → 총판매액 합 / 물량(킬로그램)  
```
```
3. 우편번호 컬럼 생성 
```

## 사용 어종 선정 (완)
#### * 사용 어종 list   
- ['붕장어', '민어', '넙치', '조피볼락', '낙지', '문어, '전복', '갑오징어', '고등어', '숭어', '전어', '감성돔', '돌돔', '방어', '참돔', '참다랑어', '쏨뱅이', '송어', '밀복', '참복']

In [20]:
fish = ['붕장어', '민어', '넙치', '조피볼락', '낙지', '문어', '전복', '갑오징어', '고등어', '숭어', '전어', '감성돔', '돌돔', '방어', '참돔', '참다랑어', '쏨뱅이', '송어', '밀복', '참복']

def fish_choice(df):
  for row in range(len(df)):
    if (df.loc[row,'수산물표준코드명'] not in fish) or (df.loc[row,'어종상태명'] != '(활)') :
        df.drop([row], axis = 0, inplace = True)

In [ ]:
# # 22년도
# fish_choice(df_202201)
# # 21년도
# fish_choice(df_202112); fish_choice(df_202111); fish_choice(df_202110); fish_choice(df_202109); fish_choice(df_202108); fish_choice(df_202107)
# fish_choice(df_202106); fish_choice(df_202105); fish_choice(df_202104); fish_choice(df_202103); fish_choice(df_202102); fish_choice(df_202101)
# # 20년도
# fish_choice(df_202012); fish_choice(df_202011); fish_choice(df_202010); fish_choice(df_202009); fish_choice(df_202008); fish_choice(df_202007)
# fish_choice(df_202006); fish_choice(df_202005); fish_choice(df_202004); fish_choice(df_202003); fish_choice(df_202002); fish_choice(df_202001)
# # 19년도
# fish_choice(df_201912); fish_choice(df_201911); fish_choice(df_201910); fish_choice(df_201909); fish_choice(df_201908); fish_choice(df_201907) 
# fish_choice(df_201906); fish_choice(df_201905); fish_choice(df_201904); fish_choice(df_201903); fish_choice(df_201902); fish_choice(df_201901)

## 우편번호 컬럼 생성 (완)  
필요없음

In [ ]:
# def zip_code(df):
#   df.reset_index(drop=True, inplace=True)
#   df['우편번호'] = df['산지조합명']
#   for row in range(len(df)):
#     if df.loc[row, '우편번호'] == "옹진수산업협동조합" : df.loc[row, '우편번호'] = "15640"
#     elif df.loc[row, '우편번호'] == "영흥수산업협동조합" : df.loc[row, '우편번호'] = "23118"
#     elif df.loc[row, '우편번호'] == "인천수산업협동조합" : df.loc[row, '우편번호'] = "21642"
#     elif df.loc[row, '우편번호'] == "경기남부수산업협동조합" : df.loc[row, '우편번호'] = "18556"
#     elif df.loc[row, '우편번호'] == "동해시수산업협동조합" : df.loc[row, '우편번호'] = "25009"
#     elif df.loc[row, '우편번호'] == "양양수산업협동조합" : df.loc[row, '우편번호'] = "25047"
#     elif df.loc[row, '우편번호'] == "대포수산업협동조합" : df.loc[row, '우편번호'] = "24901"
#     elif df.loc[row, '우편번호'] == "원덕수산업협동조합" : df.loc[row, '우편번호'] = "25956"
#     elif df.loc[row, '우편번호'] == "서산수산업협동조합" : df.loc[row, '우편번호'] = "32121"
#     elif df.loc[row, '우편번호'] == "서천군수산업협동조합" : df.loc[row, '우편번호'] = "33668"
#     elif df.loc[row, '우편번호'] == "서천서부수산업협동조합" : df.loc[row, '우편번호'] = "33603"
#     elif df.loc[row, '우편번호'] == "안면도수산업협동조합" : df.loc[row, '우편번호'] = "32163"
#     elif df.loc[row, '우편번호'] == "군산시수산업협동조합" : df.loc[row, '우편번호'] = "54026"
#     elif df.loc[row, '우편번호'] == "강진군수산업협동조합" : df.loc[row, '우편번호'] = "59269"
#     elif df.loc[row, '우편번호'] == "신안군수산업협동조합" : df.loc[row, '우편번호'] = "58827"
#     elif df.loc[row, '우편번호'] == "진도군수산업협동조합" : df.loc[row, '우편번호'] = "58923"
#     elif df.loc[row, '우편번호'] == "고흥군수산업협동조합" : df.loc[row, '우편번호'] = "59538"
#     elif df.loc[row, '우편번호'] == "완도금일수산업협동조합" : df.loc[row, '우편번호'] = "59140"
#     elif df.loc[row, '우편번호'] == "경주시수산업협동조합" : df.loc[row, '우편번호'] = "38125"
#     elif df.loc[row, '우편번호'] == "강구수산업협동조합" : df.loc[row, '우편번호'] = "05257"
#     elif df.loc[row, '우편번호'] == "죽변수산업협동조합" : df.loc[row, '우편번호'] = "36315"
#     elif df.loc[row, '우편번호'] == "영덕북부수산업협동조합" : df.loc[row, '우편번호'] = "36430"
#     elif df.loc[row, '우편번호'] == "포항수산업협동조합" : df.loc[row, '우편번호'] = "37933"
#     elif df.loc[row, '우편번호'] == "후포수산업협동조합" : df.loc[row, '우편번호'] = "36369"
#     elif df.loc[row, '우편번호'] == "거제수산업협동조합" : df.loc[row, '우편번호'] = "53286"
#     elif df.loc[row, '우편번호'] == "진해수산업협동조합" : df.loc[row, '우편번호'] = "51683"
#     elif df.loc[row, '우편번호'] == "추자도수산업협동조합" : df.loc[row, '우편번호'] = "63000"
#     elif df.loc[row, '우편번호'] == "제주어류양식수산업협동조합" : df.loc[row, '우편번호'] = "63032"
#     # 추가
#     elif df.loc[row, '우편번호'] == "하동군수산업협동조합" : df.loc[row, '우편번호'] = "52352"   
#     elif df.loc[row, '우편번호'] == "남해군수산업협동조합" : df.loc[row, '우편번호'] = "52442"
#     elif df.loc[row, '우편번호'] == "강원고성군수산업협동조합" : df.loc[row, '우편번호'] = "24743"
#     elif df.loc[row, '우편번호'] == "삼척수산업협동조합" : df.loc[row, '우편번호'] = "25925"
#     elif df.loc[row, '우편번호'] == "강릉시수산업협동조합" : df.loc[row, '우편번호'] = "63276"
#     elif df.loc[row, '우편번호'] == "죽왕수산업협동조합" : df.loc[row, '우편번호'] = "24745"
#     elif df.loc[row, '우편번호'] == "보령수산업협동조합" : df.loc[row, '우편번호'] = "33465"
#     elif df.loc[row, '우편번호'] == "대천서부수산업협동조합" : df.loc[row, '우편번호'] = "33488"
#     elif df.loc[row, '우편번호'] == "목포수산업협동조합" : df.loc[row, '우편번호'] = "58759"
#     elif df.loc[row, '우편번호'] == "나로도수산업협동조합" : df.loc[row, '우편번호'] = "59569"
#     elif df.loc[row, '우편번호'] == "장흥군수산업협동조합" : df.loc[row, '우편번호'] = "59315"
#     elif df.loc[row, '우편번호'] == "구룡포수산업협동조합" : df.loc[row, '우편번호'] = "37933"
#     elif df.loc[row, '우편번호'] == "의창수산업협동조합" : df.loc[row, '우편번호'] = "51610"
#     elif df.loc[row, '우편번호'] == "모슬포수산업협동조합" : df.loc[row, '우편번호'] = "63508"
#     elif df.loc[row, '우편번호'] == "속초시수산업협동조합" : df.loc[row, '우편번호'] = "24883"
#     elif df.loc[row, '우편번호'] == "서남해수어류양식수산업협동조합" : df.loc[row, '우편번호'] = "59764"
#     elif df.loc[row, '우편번호'] == "욕지수산업협동조합" : df.loc[row, '우편번호'] = "53100"
#     elif df.loc[row, '우편번호'] == "성산포수산업협동조합" : df.loc[row, '우편번호'] = "63643"
#     elif df.loc[row, '우편번호'] == "부산시수산업협동조합" : df.loc[row, '우편번호'] = "48281"
#     elif df.loc[row, '우편번호'] == "경남고성군수산업협동조합" : df.loc[row, '우편번호'] = "52934"
#     elif df.loc[row, '우편번호'] == "태안남부수산업협동조합" : df.loc[row, '우편번호'] = "32158"
#     elif df.loc[row, '우편번호'] == "해남군수산업협동조합" : df.loc[row, '우편번호'] = "59048"
#     elif df.loc[row, '우편번호'] == "거문도수산업협동조합" : df.loc[row, '우편번호'] = "59790"  
#     elif df.loc[row, '우편번호'] == "여수 수산업협동조합" : df.loc[row, '우편번호'] = "59764"
#     elif df.loc[row, '우편번호'] == "마산수산업협동조합" : df.loc[row, '우편번호'] = "51713"
#     elif df.loc[row, '우편번호'] == "삼천포수산업협동조합" : df.loc[row, '우편번호'] = ""
#     elif df.loc[row, '우편번호'] == "통영수산업협동조합" : df.loc[row, '우편번호'] = "53050"
#     elif df.loc[row, '우편번호'] == "근해통발수산업협동조합" : df.loc[row, '우편번호'] = "53003"
#     elif df.loc[row, '우편번호'] == "제1/2구잠수기수산업협동조합" : df.loc[row, '우편번호'] = "51714"   
#     elif df.loc[row, '우편번호'] == "전남서부어류양식수산업협동조합" : df.loc[row, '우편번호'] = "59108"
#     elif df.loc[row, '우편번호'] == "사천수산업협동조합" : df.loc[row, '우편번호'] = "52543"    
#     elif df.loc[row, '우편번호'] == "울산수산업협동조합" : df.loc[row, '우편번호'] = "45001"
#     elif df.loc[row, '우편번호'] == "삼천포수산업협동조합" : df.loc[row, '우편번호'] = "52569"

In [ ]:
# # 22년도
# zip_code(df_202201)
# # 21년도
# zip_code(df_202112); zip_code(df_202111); zip_code(df_202110); zip_code(df_202109); zip_code(df_202108); zip_code(df_202107)
# zip_code(df_202106); zip_code(df_202105); zip_code(df_202104); zip_code(df_202103); zip_code(df_202102); zip_code(df_202101)
# # 20년도
# zip_code(df_202012); zip_code(df_202011); zip_code(df_202010); zip_code(df_202009); zip_code(df_202008); zip_code(df_202007)
# zip_code(df_202006); zip_code(df_202005); zip_code(df_202004); zip_code(df_202003); zip_code(df_202002); zip_code(df_202001)
# # 19년도
# zip_code(df_201912); zip_code(df_201911); zip_code(df_201910); zip_code(df_201909); zip_code(df_201908); zip_code(df_201907) 
# zip_code(df_201906); zip_code(df_201905); zip_code(df_201904); zip_code(df_201903); zip_code(df_201902); zip_code(df_201901)

## 어종상태명 삭제  / 산지조합명 컬럼값 변경 (수산업협동조합 제거)  (완)

In [21]:
# 컬럼값 수정 및 '어종상태명' 컬럼 삭제
def value_change (df):
  for row in range(len(df)):  
    df.loc[row,'산지조합명'] = df.loc[row,'산지조합명'].replace("수산업협동조합","")
    # df.loc[row,'우편번호'] = str(df.loc[row,'우편번호']).replace(".0","")   #   필요없어짐

def col_rm2(df): 
  df.drop( ['어종상태명'], axis=1, inplace = True )

In [ ]:
df_202101

            위판일자       산지조합명 수산물표준코드명 어종상태명    평균가     총판매액
0     2021-01-01   인천수산업협동조합       넙치   (활)  18067  7782500
1     2021-01-01   인천수산업협동조합     조피볼락   (활)  13053  3023000
2     2021-01-01   인천수산업협동조합     조피볼락   (활)  17500   881500
3     2021-01-01   인천수산업협동조합      붕장어   (활)  10300    82400
4     2021-01-01   인천수산업협동조합       낙지   (활)   5517  6083900
...          ...         ...      ...   ...    ...      ...
7020  2021-01-31  모슬포수산업협동조합       방어   (활)  95000  2185000
7021  2021-01-31  부산시수산업협동조합       넙치   (활)  18000   126000
7022  2021-01-31  부산시수산업협동조합      붕장어   (활)  11250   103500
7023  2021-01-31  부산시수산업협동조합       낙지   (활)   3500    48500
7024  2021-01-31  부산시수산업협동조합       문어   (활)  23768  3640750

[7025 rows x 6 columns]

In [22]:
# 22년도
value_change(df_202201); col_rm2(df_202201)
# 21년도
value_change(df_202112); col_rm2(df_202112)
value_change(df_202111); col_rm2(df_202111)
value_change(df_202110); col_rm2(df_202110)
value_change(df_202109); col_rm2(df_202109)
value_change(df_202108); col_rm2(df_202108)
value_change(df_202107); col_rm2(df_202107)
value_change(df_202106); col_rm2(df_202106)
value_change(df_202105); col_rm2(df_202105)
value_change(df_202104); col_rm2(df_202104)
value_change(df_202103); col_rm2(df_202103)
value_change(df_202102); col_rm2(df_202102)
value_change(df_202101); col_rm2(df_202101)
# 20년도
value_change(df_202012); col_rm2(df_202012)
value_change(df_202011); col_rm2(df_202011)
value_change(df_202010); col_rm2(df_202010)
value_change(df_202009); col_rm2(df_202009)
value_change(df_202008); col_rm2(df_202008)
value_change(df_202007); col_rm2(df_202007)
value_change(df_202006); col_rm2(df_202006)
value_change(df_202005); col_rm2(df_202005)
value_change(df_202004); col_rm2(df_202004)
value_change(df_202003); col_rm2(df_202003)
value_change(df_202002); col_rm2(df_202002)
value_change(df_202001); col_rm2(df_202001)
# 19년도
value_change(df_201912); col_rm2(df_201912)
value_change(df_201911); col_rm2(df_201911)
value_change(df_201910); col_rm2(df_201910)
value_change(df_201909); col_rm2(df_201909)
value_change(df_201908); col_rm2(df_201908)
value_change(df_201907); col_rm2(df_201907)
value_change(df_201906); col_rm2(df_201906)
value_change(df_201905); col_rm2(df_201905)
value_change(df_201904); col_rm2(df_201904)
value_change(df_201903); col_rm2(df_201903)
value_change(df_201902); col_rm2(df_201902)
value_change(df_201901); col_rm2(df_201901)

In [ ]:
df_202201

            위판일자   산지조합명 수산물표준코드명    평균가       총판매액
0     2022-01-01      옹진       넙치  12500     460000
1     2022-01-01      옹진      붕장어   8000      16000
2     2022-01-01      영흥       넙치  12000      60000
3     2022-01-01      인천       넙치  17858    4669000
4     2022-01-01      인천       민어  36000     180000
...          ...     ...      ...    ...        ...
7904  2022-01-31     하동군      감성돔   1100    9379000
7905  2022-01-31     하동군       낙지   4426    7987400
7906  2022-01-31     남해군       낙지   3125     894000
7907  2022-01-31     남해군       문어  15000      60000
7908  2022-01-31  제주어류양식       넙치  14094  169700000

[7909 rows x 5 columns]

In [ ]:
# ## 중간저장  (완)
# # 22년
# pd.DataFrame(df_202201).to_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_중간저장/2022_01.csv', index=False)
# # 21년
# pd.DataFrame(df_202112).to_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_중간저장/2021_12.csv', index=False)
# pd.DataFrame(df_202111).to_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_중간저장/2021_11.csv', index=False)
# pd.DataFrame(df_202110).to_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_중간저장/2021_10.csv', index=False)
# pd.DataFrame(df_202109).to_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_중간저장/2021_09.csv', index=False)
# pd.DataFrame(df_202108).to_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_중간저장/2021_08.csv', index=False)
# pd.DataFrame(df_202107).to_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_중간저장/2021_07.csv', index=False)
# pd.DataFrame(df_202106).to_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_중간저장/2021_06.csv', index=False)
# pd.DataFrame(df_202105).to_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_중간저장/2021_05.csv', index=False)
# pd.DataFrame(df_202104).to_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_중간저장/2021_04.csv', index=False)
# pd.DataFrame(df_202103).to_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_중간저장/2021_03.csv', index=False)
# pd.DataFrame(df_202102).to_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_중간저장/2021_02.csv', index=False)
# pd.DataFrame(df_202101).to_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_중간저장/2021_01.csv', index=False)
# # 20년
# pd.DataFrame(df_202012).to_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_중간저장/2020_12.csv', index=False)
# pd.DataFrame(df_202011).to_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_중간저장/2020_11.csv', index=False)
# pd.DataFrame(df_202010).to_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_중간저장/2020_10.csv', index=False)
# pd.DataFrame(df_202009).to_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_중간저장/2020_09.csv', index=False)
# pd.DataFrame(df_202008).to_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_중간저장/2020_08.csv', index=False)
# pd.DataFrame(df_202007).to_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_중간저장/2020_07.csv', index=False)
# pd.DataFrame(df_202006).to_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_중간저장/2020_06.csv', index=False)
# pd.DataFrame(df_202005).to_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_중간저장/2020_05.csv', index=False)
# pd.DataFrame(df_202004).to_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_중간저장/2020_04.csv', index=False)
# pd.DataFrame(df_202003).to_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_중간저장/2020_03.csv', index=False)
# pd.DataFrame(df_202002).to_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_중간저장/2020_02.csv', index=False)
# pd.DataFrame(df_202001).to_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_중간저장/2020_01.csv', index=False)
# # 19년
# pd.DataFrame(df_201912).to_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_중간저장/2019_12.csv', index=False)
# pd.DataFrame(df_201911).to_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_중간저장/2019_11.csv', index=False)
# pd.DataFrame(df_201910).to_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_중간저장/2019_10.csv', index=False)
# pd.DataFrame(df_201909).to_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_중간저장/2019_09.csv', index=False)
# pd.DataFrame(df_201908).to_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_중간저장/2019_08.csv', index=False)
# pd.DataFrame(df_201907).to_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_중간저장/2019_07.csv', index=False)
# pd.DataFrame(df_201906).to_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_중간저장/2019_06.csv', index=False)
# pd.DataFrame(df_201905).to_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_중간저장/2019_05.csv', index=False)
# pd.DataFrame(df_201904).to_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_중간저장/2019_04.csv', index=False)
# pd.DataFrame(df_201903).to_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_중간저장/2019_03.csv', index=False)
# pd.DataFrame(df_201902).to_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_중간저장/2019_02.csv', index=False)
# pd.DataFrame(df_201901).to_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_중간저장/2019_01.csv', index=False)

In [26]:
# ## 중간저장 파일 불러오기
# # 22년
# df_202201 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_하는중/2022_01.csv')
# # # 21년
# df_202112 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_하는중/2021_12.csv')
# df_202111 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_하는중/2021_11.csv')
# df_202110 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_하는중/2021_10.csv')
# df_202109 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_하는중/2021_09.csv')
# df_202108 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_하는중/2021_08.csv')
# df_202107 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_하는중/2021_07.csv')
# df_202106 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_하는중/2021_06.csv')
# df_202105 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_하는중/2021_05.csv')
# df_202104 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_하는중/2021_04.csv')
# df_202103 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_하는중/2021_03.csv')
# df_202102 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_하는중/2021_02.csv')
# df_202101 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_하는중/2021_01.csv')
# # 20년
# df_202012 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_하는중/2020_12.csv')
# df_202011 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_하는중/2020_11.csv')
# df_202010 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_하는중/2020_10.csv')
# df_202009 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_하는중/2020_09.csv')
# df_202008 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_하는중/2020_08.csv')
# df_202007 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_하는중/2020_07.csv')
# df_202006 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_하는중/2020_06.csv')
# df_202005 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_하는중/2020_05.csv')
# df_202004 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_하는중/2020_04.csv')
# df_202003 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_하는중/2020_03.csv')
# df_202002 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_하는중/2020_02.csv')
# df_202001 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_하는중/2020_01.csv')
# # 19년
# df_201912 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_하는중/2019_12.csv')
# df_201911 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_하는중/2019_11.csv')
# df_201910 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_하는중/2019_10.csv')
# df_201909 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_하는중/2019_09.csv')
# df_201908 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_하는중/2019_08.csv')
# df_201907 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_하는중/2019_07.csv')
# df_201906 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_하는중/2019_06.csv')
# df_201905 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_하는중/2019_05.csv')
# df_201904 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_하는중/2019_04.csv')
# df_201903 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_하는중/2019_03.csv')
# df_201902 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_하는중/2019_02.csv')
# df_201901 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_하는중/2019_01.csv')

## 같은 일자에 산지조합명과 수산물표준코드명이 같은 행인 경우  (완)
  - 물량 → 평균내기
  - 평균가 → 평균내기

In [6]:
def value_avg(df) :
  for row in range(len(df)-1):
    if ( df.loc[row,'위판일자'] == df.loc[row+1,'위판일자'] ) and ( df.loc[row,'산지조합명'] == df.loc[row+1,'산지조합명'] ) and ( df.loc[row,'수산물표준코드명'] == df.loc[row+1,'수산물표준코드명'] ) :
      df.loc[row+1,'평균가'] = ( (df.loc[row,'평균가']) + df.loc[row+1,'평균가'] ) / 2
      df.drop( [row], axis=0, inplace = True)

In [ ]:
# 22년도
value_avg(df_202201)
# 21년도
value_avg(df_202112); value_avg(df_202111); value_avg(df_202110); value_avg(df_202109); value_avg(df_202108); value_avg(df_202107)
value_avg(df_202106); value_avg(df_202105); value_avg(df_202104); value_avg(df_202103); value_avg(df_202102); value_avg(df_202101)
# 20년도
value_avg(df_202012); value_avg(df_202011); value_avg(df_202010); value_avg(df_202009); value_avg(df_202008); value_avg(df_202007)
value_avg(df_202006); value_avg(df_202005); value_avg(df_202004); value_avg(df_202003); value_avg(df_202002); value_avg(df_202001)
# 19년도
value_avg(df_201912); value_avg(df_201911); value_avg(df_201910); value_avg(df_201909); value_avg(df_201908); value_avg(df_201907) 
value_avg(df_201906); value_avg(df_201905); value_avg(df_201904); value_avg(df_201903); value_avg(df_201902); value_avg(df_201901)

## 평균가 0인 행 제거 (완)

In [28]:
# 평균가가 0인 행 제거
def avg_rm_0(df):
  df.reset_index( drop=True, inplace=True )
  for row in range(len(df)):
    if int(df.loc[0,'평균가']) == 0 :
      df.drop( [row], axis = 0, inplace = True )
  df.reset_index( drop=True, inplace=True )

In [29]:
# 22년도
avg_rm_0(df_202201)
# 21년도
avg_rm_0(df_202112); avg_rm_0(df_202111); avg_rm_0(df_202110); avg_rm_0(df_202109); avg_rm_0(df_202108); avg_rm_0(df_202107)
avg_rm_0(df_202106); avg_rm_0(df_202105); avg_rm_0(df_202104); avg_rm_0(df_202103); avg_rm_0(df_202102); avg_rm_0(df_202101)
# 20년도
avg_rm_0(df_202012); avg_rm_0(df_202011); avg_rm_0(df_202010); avg_rm_0(df_202009); avg_rm_0(df_202008); avg_rm_0(df_202007)
avg_rm_0(df_202006); avg_rm_0(df_202005); avg_rm_0(df_202004); avg_rm_0(df_202003); avg_rm_0(df_202002); avg_rm_0(df_202001)
# 19년도
avg_rm_0(df_201912); avg_rm_0(df_201911); avg_rm_0(df_201910); avg_rm_0(df_201909); avg_rm_0(df_201908); avg_rm_0(df_201907) 
avg_rm_0(df_201906); avg_rm_0(df_201905); avg_rm_0(df_201904); avg_rm_0(df_201903); avg_rm_0(df_201902); avg_rm_0(df_201901)

In [ ]:
df_202201['산지조합명'].unique()

array(['옹진', '영흥', '인천', '경기남부', '동해시', '양양', '대포', '원덕', '서산', '서천군',
       '서천서부', '안면도', '군산시', '강진군', '신안군', '진도군', '고흥군', '완도금일', '경주시',
       '강구', '죽변', '영덕북부', '포항', '후포', '거제', '진해', '추자도', '제주어류양식',
       '강원고성군', '삼척', '강릉시', '죽왕', '보령', '대천서부', '목포', '장흥군', '구룡포', '의창',
       '남해군', '모슬포', '속초시', '태안남부', '해남군', '거문도', '여수 ', '경남고성군', '마산',
       '삼천포', '통영', '하동군', '욕지', '성산포', '부산시', '서남해수어류양식', '근해통발',
       '제1/2구잠수기', '전남서부어류양식', '울산', '사천', '나로도'], dtype=object)

## 산지조합명 추리기  (완)
'인천', '서산', '안면도', '대천서부', '서천서부', '군산시', '목포', '전남서부어류양식', '고흥군', '여수', '남해군', '통영', '거제', '부산시', '울산', '포항', '삼척', '강릉시', '속초시', '동해시'  

-----------------------------------------------------  
* 부산광역시 - '부산시'
* 인천광역시 - '인천'
* 울산광역시 - '울산' 
* 경기도 - 
* 강원도 -  '삼척', '강릉시', '속초시', '동해시'
* 충청남도 - '서산', '안면도', '대천서부', '서천서부',
* 전라북도 - '군산시',
* 전라남도 - '목포', '전남서부어류양식', '고흥군', '여수',
* 경상북도 - '포항',
* 경상남도 - '남해군', '통영', '거제',
* 제주도 -

In [ ]:
suhyup = [ '인천', '서산', '안면도', '대천서부', '서천서부', '군산시', '목포', '전남서부어류양식', '고흥군', '여수', '남해군', '통영', '거제', '부산시', '울산', '포항', '삼척', '강릉시', '속초시', '동해시' ]
def suhyup_choice(df):
  df.reset_index( drop=True, inplace=True )
  for row in range(len(df)):
    if df.loc[row,'산지조합명'] not in suhyup :
        df.drop([row], axis = 0, inplace = True)
  df.reset_index(drop=True, inplace=True)

In [ ]:
# 22년도
suhyup_choice(df_202201)
# 21년도
suhyup_choice(df_202112); suhyup_choice(df_202111); suhyup_choice(df_202110); suhyup_choice(df_202109); suhyup_choice(df_202108); suhyup_choice(df_202107)
suhyup_choice(df_202106); suhyup_choice(df_202105); suhyup_choice(df_202104); suhyup_choice(df_202103); suhyup_choice(df_202102); suhyup_choice(df_202101)
# 20년도
suhyup_choice(df_202012); suhyup_choice(df_202011); suhyup_choice(df_202010); suhyup_choice(df_202009); suhyup_choice(df_202008); suhyup_choice(df_202007)
suhyup_choice(df_202006); suhyup_choice(df_202005); suhyup_choice(df_202004); suhyup_choice(df_202003); suhyup_choice(df_202002); suhyup_choice(df_202001)
# 19년도
suhyup_choice(df_201912); suhyup_choice(df_201911); suhyup_choice(df_201910); suhyup_choice(df_201909); suhyup_choice(df_201908); suhyup_choice(df_201907) 
suhyup_choice(df_201906); suhyup_choice(df_201905); suhyup_choice(df_201904); suhyup_choice(df_201903); suhyup_choice(df_201902); suhyup_choice(df_201901)

# DF 병합  
얼추 정제된 3년치 DF를 병합

In [ ]:
# 21년 ~ 19년 df 병합
df = pd.concat([df_202201, df_202112])

df = pd.concat([df, df_202111]); df = pd.concat([df, df_202110]); df = pd.concat([df, df_202109]); df = pd.concat([df, df_202110]); df = pd.concat([df, df_202108]); df = pd.concat([df, df_202107])
df = pd.concat([df, df_202106]); df = pd.concat([df, df_202105]); df = pd.concat([df, df_202104]); df = pd.concat([df, df_202103]); df = pd.concat([df, df_202102]); df = pd.concat([df, df_202101])

df = pd. concat([df, df_202012]); df = pd.concat([df, df_202011]); df = pd.concat([df, df_202010]); df = pd.concat([df, df_202009]); df = pd.concat([df, df_202010]); df = pd.concat([df, df_202008]) 
df = pd.concat([df, df_202007]); df = pd.concat([df, df_202006]); df = pd.concat([df, df_202005]); df = pd.concat([df, df_202004]); df = pd.concat([df, df_202003]); df = pd.concat([df, df_202002]); df = pd.concat([df, df_202001])

df = pd. concat([df, df_201912]); df = pd.concat([df, df_201911]); df = pd.concat([df, df_201910]); df = pd.concat([df, df_201909]); df = pd.concat([df, df_201910]); df = pd.concat([df, df_201908]) 
df = pd.concat([df, df_201907]); df = pd.concat([df, df_201906]); df = pd.concat([df, df_201905]); df = pd.concat([df, df_201904]); df = pd.concat([df, df_201903]); df = pd.concat([df, df_201902]); df = pd.concat([df, df_201901])

# 이상값 처리
* **평균값으로 대체**
  * 광어(넙치) : 132878 이상 값들 42524원으로 변경
  * 방어: 95719원 이상 30875원으로 변경
  * 감성돔: 130985원 이상 45054원으로 변경

In [9]:
for row in range(len(df)):
  if df.loc[row,'수산물표준코드명'] == '넙치' and df.loc[row,'평균가'] > 132878.0 :
    df.loc[row,'평균가'] = 42524.0
  elif df.loc[row,'수산물표준코드명'] == '방어' and df.loc[row,'평균가'] > 95719.0 :
    df.loc[row,'평균가'] = 30875.0
  elif df.loc[row,'수산물표준코드명'] == '감성돔' and df.loc[row,'평균가'] > 130985.0 :
    df.loc[row,'평균가'] = 45054.0
  else : pass

* 수산물표준코드명에서 
  - 넙치 → 광어
  - 조피볼락 → 우럭

In [12]:
for row in range(len(df)) : 
  if df.loc[row,'수산물표준코드명'] == "넙치" : df.loc[row,'수산물표준코드명'] = "광어" 
  if df.loc[row,'수산물표준코드명'] == "조피볼락" : df.loc[row,'수산물표준코드명'] = "우럭"
  if df.loc[row,'수산물표준코드명'] == "참다랑어" : df.loc[row,'수산물표준코드명'] = "참치"

In [14]:
# pd.DataFrame(df).to_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/수산물_위판정보_전처리완료.csv', index=False)

# 지역별로 나누기

In [19]:
df_3Y = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/수산물_위판정보_전처리완료.csv')

In [20]:
suhyup = ['인천', '서산', '안면도', '대천서부', '서천서부', '군산시', '목포', '전남서부어류양식', '고흥군', '여수', '남해군', '통영', '거제', '부산시', '울산', '포항', '삼척', '강릉시', '속초시', '동해시']

# for suhyup_name in suhyup 
Incheon, Seosan, Anmyeondo, Daecheon, Seocheon, Gunsan, Mokpo = [], [], [], [], [], [], []
Jeonnam_western_fish_farming, Goheung_gun, Yeosu, Namhae_gun =  [], [], [], []
Tongyeong, Geoje, Busan, Ulsan, Pohang, Samcheok, Gangneung, Sokcho, Donghae = [], [], [], [], [], [], [], [], []

for suhyup_name in suhyup:
  for row in range(len(df_3Y)):
    if df_3Y.loc[row,'산지조합명'] == '인천' : Incheon.append(df_3Y.loc[row])
    elif df_3Y.loc[row,'산지조합명'] == '서산' : Seosan.append(df_3Y.loc[row])
    elif df_3Y.loc[row,'산지조합명'] == '안면도' : Anmyeondo.append(df_3Y.loc[row])
    elif df_3Y.loc[row,'산지조합명'] == '대천서부' : Daecheon.append(df_3Y.loc[row])
    elif df_3Y.loc[row,'산지조합명'] == '서천서부' : Seocheon.append(df_3Y.loc[row])
    elif df_3Y.loc[row,'산지조합명'] == '군산시' : Gunsan.append(df_3Y.loc[row])
    elif df_3Y.loc[row,'산지조합명'] == '목포시' : Mokpo.append(df_3Y.loc[row])
    elif df_3Y.loc[row,'산지조합명'] == '전남서부어류양식' : Jeonnam_western_fish_farming.append(df_3Y.loc[row])
    elif df_3Y.loc[row,'산지조합명'] == '고흥군' : Goheung_gun.append(df_3Y.loc[row])
    elif df_3Y.loc[row,'산지조합명'] == '여수' : Yeosu.append(df_3Y.loc[row])
    elif df_3Y.loc[row,'산지조합명'] == '남해군' : Namhae_gun.append(df_3Y.loc[row])
    elif df_3Y.loc[row,'산지조합명'] == '통영' : Tongyeong.append(df_3Y.loc[row])
    elif df_3Y.loc[row,'산지조합명'] == '거제' : Geoje.append(df_3Y.loc[row])
    elif df_3Y.loc[row,'산지조합명'] == '부산시' : Busan.append(df_3Y.loc[row])
    elif df_3Y.loc[row,'산지조합명'] == '울산' : Ulsan.append(df_3Y.loc[row])
    elif df_3Y.loc[row,'산지조합명'] == '포항' : Pohang.append(df_3Y.loc[row])
    elif df_3Y.loc[row,'산지조합명'] == '삼척' : Samcheok.append(df_3Y.loc[row])
    elif df_3Y.loc[row,'산지조합명'] == '강릉시' : Gangneung.append(df_3Y.loc[row])
    elif df_3Y.loc[row,'산지조합명'] == '속초시' : Sokcho.append(df_3Y.loc[row])
    elif df_3Y.loc[row,'산지조합명'] == '동해시' : Donghae.append(df_3Y.loc[row])

In [24]:
Incheon

             위판일자 산지조합명 수산물표준코드명         평균가     총판매액
0      2022-01-01    인천       광어  17858.0000  4669000
1      2022-01-01    인천       민어  36000.0000   180000
2      2022-01-01    인천       우럭  21125.0000  1401250
3      2022-01-01    인천      붕장어  12125.0000   108500
4      2022-01-01    인천       낙지   3443.2500   739100
...           ...   ...      ...         ...      ...
70335  2019-01-28    인천       낙지   4862.5000  1870000
70336  2019-01-29    인천       광어  23600.0000   359000
70337  2019-01-30    인천       낙지   5875.0000  1288000
70338  2019-01-31    인천       우럭  14500.0000   109000
70339  2019-01-31    인천       낙지   5108.9375  9061700

[70340 rows x 5 columns]

In [21]:
# DF로 변환
Incheon = pd.DataFrame(Incheon)
Incheon.reset_index(drop=True, inplace=True)
Seosan = pd.DataFrame(Seosan)
Seosan.reset_index(drop=True, inplace=True)
Anmyeondo = pd.DataFrame(Anmyeondo)
Anmyeondo.reset_index(drop=True, inplace=True)
Daecheon = pd.DataFrame(Daecheon)
Daecheon.reset_index(drop=True, inplace=True)
Seocheon = pd.DataFrame(Seocheon)
Seocheon.reset_index(drop=True, inplace=True)
Gunsan = pd.DataFrame(Gunsan)
Gunsan.reset_index(drop=True, inplace=True)
Mokpo = pd.DataFrame(Mokpo)
Mokpo.reset_index(drop=True, inplace=True)
Jeonnam_western_fish_farming = pd.DataFrame(Jeonnam_western_fish_farming)
Jeonnam_western_fish_farming.reset_index(drop=True, inplace=True)
Goheung_gun = pd.DataFrame(Goheung_gun)
Goheung_gun.reset_index(drop=True, inplace=True)
Yeosu = pd.DataFrame(Yeosu)
Yeosu.reset_index(drop=True, inplace=True)
Namhae_gun = pd.DataFrame(Namhae_gun)
Namhae_gun.reset_index(drop=True, inplace=True)
Tongyeong = pd.DataFrame(Tongyeong)
Tongyeong.reset_index(drop=True, inplace=True)
Geoje = pd.DataFrame(Geoje)
Geoje.reset_index(drop=True, inplace=True)
Busan = pd.DataFrame(Busan)
Busan.reset_index(drop=True, inplace=True)
Ulsan = pd.DataFrame(Ulsan)
Ulsan.reset_index(drop=True, inplace=True)
Pohang = pd.DataFrame(Pohang)
Pohang.reset_index(drop=True, inplace=True)
Samcheok = pd.DataFrame(Samcheok)
Samcheok.reset_index(drop=True, inplace=True)
Gangneung = pd.DataFrame(Gangneung)
Gangneung.reset_index(drop=True, inplace=True)
Sokcho = pd.DataFrame(Sokcho)
Sokcho.reset_index(drop=True, inplace=True)
Donghae = pd.DataFrame(Donghae)
Donghae.reset_index(drop=True, inplace=True)

In [23]:
# csv파일로 저장
# pd.DataFrame(Incheon).to_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_지역별/Incheon.csv', index=False)
# pd.DataFrame(Seosan).to_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_지역별/Seosan.csv', index=False)
# pd.DataFrame(Anmyeondo).to_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_지역별/Anmyeondo.csv', index=False)
# pd.DataFrame(Daecheon).to_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_지역별/Daecheon.csv', index=False)
# pd.DataFrame(Seocheon).to_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_지역별/Seocheon.csv', index=False)
# pd.DataFrame(Gunsan).to_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_지역별/Gunsan.csv', index=False)
# pd.DataFrame(Mokpo).to_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_지역별/Mokpo.csv', index=False)
# pd.DataFrame(Jeonnam_western_fish_farming).to_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_지역별/Jeonnam_western_fish_farming.csv', index=False)
# pd.DataFrame(Goheung_gun).to_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_지역별/Goheung_gun.csv', index=False)
# pd.DataFrame(Yeosu).to_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_지역별/Yeosu.csv', index=False)
# pd.DataFrame(Namhae_gun).to_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_지역별/Namhae_gun.csv', index=False)
# pd.DataFrame(Tongyeong).to_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_지역별/Tongyeong.csv', index=False)
# pd.DataFrame(Geoje).to_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_지역별/Geoje.csv', index=False)
# pd.DataFrame(Busan).to_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_지역별/Busan.csv', index=False)
# pd.DataFrame(Ulsan).to_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_지역별/Ulsan.csv', index=False)
# pd.DataFrame(Pohang).to_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_지역별/Pohang.csv', index=False)
# pd.DataFrame(Samcheok).to_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_지역별/Samcheok.csv', index=False)
# pd.DataFrame(Gangneung).to_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_지역별/Gangneung.csv', index=False)
# pd.DataFrame(Sokcho).to_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_지역별/Sokcho.csv', index=False)
# pd.DataFrame(Donghae).to_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/완/수산물_위판정보_지역별/Donghae.csv', index=False)