In [ ]:
import numpy as np
import pandas as pd
import datetime
from copy import deepcopy

import matplotlib.pyplot as pit
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# 아파트 시도별 매매 실거래가격지수
# 전국 시도별 집값 거래 데이터
- 기간 : 2006.01~2021.06
- 단위 : %
- 내용 : 2017년 11월을 기준으로 표현된 각 월별 아파트 실거래가격지수를 연도 별로 평균을 낸 데이터 

- 출처 → [한국부동산원_아파트 지역별 매매 실거래가격지수(월별)](https://www.data.go.kr/data/15044283/fileData.do)

데이터 정리

In [ ]:
# 데이터 불러오기
apt = pd.read_csv('/content/drive/스/[D9&10] 데이터시각화 프로젝트_4조/Data/아파트 데이터/한국부동산원_아파트 지역별 매매 실거래가격지수(월별)_060101210630(https:  www.data.go.kr data 15044283 fileData.do).csv', encoding='cp949'MyDrive/멀티캠퍼)
apt.head()

      지역  2006-01  2006-02  2006-03  ...  2021-03  2021-04  2021-05  2021-06
0     전국     62.7     63.3     64.0  ...    127.4    129.1    131.3    134.6
1    수도권     66.5     67.6     68.7  ...    146.0    148.5    152.0    156.8
2     지방     59.5     59.6     59.5  ...    111.9    112.8    114.0    116.1
3  6대광역시     57.5     57.4     57.4  ...    122.3    123.8    125.7    128.8
4  5대광역시     56.2     56.1     55.9  ...    122.2    123.2    124.5    127.1

[5 rows x 187 columns]

In [ ]:
apt.drop(index=[3,4,5,7,8,9,10,11],inplace=True)  # 불필요한 인덱스 제거
apt.reset_index(drop=True, inplace=True)      # 인덱스 재정의

# 컬럼명 & 컬럼 값 재정의
apt.rename(columns={'지역':'행정구역'}, inplace=True)
apt['행정구역'] = ['전국','수도권','지방','서울특별시','부산광역시','대구광역시','인천광역시','광주광역시','대전광역시','울산광역시','세종특별자치시','경기도','강원도','충청북도','충청남도','전라북도','전라남도','경상북도','경상남도','제주특별자치도']

# 세종시 생성 날짜 이전 데이터 0으로 초기화
for col in apt.columns[1:]:  
  if col == '2012-07' : break   
  apt.at[10,col] = 0

연도별 평균 구하기

In [ ]:
apt_avg = deepcopy(apt)   # 깊은 복사

# 2020년까지 각 연도별 평균 컬럼 생성 및 값 초기화
for i in range(15):         
  apt_avg[f'{i+2006}'] = 0.0   
  for j in range(len(apt_avg)):          
    apt_avg[f'{i+2006}'][j] = round(sum(apt_avg.iloc[j, (i*12)+1 : ((i+1)*12)+1 ]) /12, 2) # 각 연도 평균 (round함수 이용해서 소수점 제한)
# 2020년 전까지 월별 데이터 삭제
for col in apt.columns[1:] :   
  if col == '2021-01': break    
  del apt_avg[col]            

# 2021년도 평균 컬럼 생성 및 값 초기화
apt_avg['2021'] = 0.0    
for n in range(len(apt_avg)):      
  apt_avg['2021'][n] = round( sum( apt_avg.iloc[n, 1:7] )/6 ,2) 
# 2021년도 월별 데이터 삭제
for col in apt_avg.columns[1:7] :
  del apt_avg[col]  

# 완성본 csv파일로 변환
#pd.DataFrame(apt_avg).to_csv('/content/drive/MyDrive/멀티캠퍼스/[D9&10] 데이터시각화 프로젝트_4조/이경희/data/년도별_아파트_실거래가격지수_평균.csv',index=False)

In [ ]:
apt_avg.head()

    행정구역   2006   2007   2008   2009  ...    2017    2018    2019    2020    2021
0     전국  67.02  76.12  79.00  78.04  ...   99.32  100.82  100.34  110.08  128.52
1    수도권  73.13  87.32  92.26  90.73  ...   98.28  104.40  107.04  122.53  147.63
2     지방  60.39  63.02  64.87  65.77  ...  100.13   97.83   94.79   99.64  112.53
3  서울특별시  66.82  77.37  81.04  81.73  ...   96.27  111.59  119.94  140.77  165.07
4  부산광역시  48.88  49.72  52.02  54.21  ...  100.00   96.83   92.81   98.64  116.25

[5 rows x 17 columns]

# 아파트 매매 실거래 평균가격 
- 기간 : 2006.01 ~ 2021.10년
- 단위 : 만원/m^2
- 내용 : 2006년 1월 부터 2021년 10월까지 지역별 아파트 매매 실거래 평균가격
- 출처 → [아파트 매매 실거래 평균 가격](https://kosis.kr/statHtml/statHtml.do?orgId=408&tblId=DT_KAB_11672_S15&conn_path=I2)

In [ ]:
apt_price = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/[D9&10] 데이터시각화 프로젝트_4조/Data/아파트 데이터/아파트_매매_실거래_평균가격(https:  kosis.kr statHtml statHtml.do?orgId=408&tblId=DT_KAB_11672_S15&conn_path=I2).csv', encoding='cp949')
apt_price.head()

  행정구역 2006. 01 2006. 02 2006. 03  ... 2021. 07 2021. 08 2021. 09 2021. 10
0   전국    294.6    248.2    269.4  ...    534.3    526.9    507.9    461.1
1   서울    521.3    471.6    501.2  ...   1403.4   1431.9   1494.4   1472.6
2   부산    151.2    153.1    150.1  ...    451.9    458.7    449.1    417.0
3   대구      174    169.7    166.8  ...    399.0    400.4    406.8    404.3
4   인천      177    174.1    176.3  ...    545.7    562.1    546.7    527.0

[5 rows x 191 columns]

In [ ]:
# 데이터 불러오기
apt_price = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/[D9&10] 데이터시각화 프로젝트_4조/Data/아파트 데이터/아파트_매매_실거래_평균가격(https:  kosis.kr statHtml statHtml.do?orgId=408&tblId=DT_KAB_11672_S15&conn_path=I2).csv', encoding='cp949')

# 컬럼명 변경
apt_price['행정구역'] = ['전국','서울특별시','부산광역시','대구광역시','인천광역시','광주광역시','대전광역시','울산광역시','세종특별자치시','경기도','강원도','충청북도','충청남도','전라북도','전라남도','경상북도','경상남도','제주특별자치도']
# 세종시 '-'를 데이터 0으로 초기화
for col in apt_price.columns[1:]:  
  apt_price[col].replace('-',0, inplace=True)

# ------------ 년도별 평균 구하기 ----------
apt_price_avg = deepcopy(apt_price) 

# 컬럼 타입 변경
for col in apt_price_avg.columns[1:] :
  apt_price_avg = apt_price_avg.astype({col:'float'})

# 2020년까지 각 연도별 평균 컬럼 생성 및 값 초기화
for i in range(15):         
  apt_price_avg[f'{i+2006}'] = 0.0   
  for j in range(len(apt_price_avg)):          
    apt_price_avg[f'{i+2006}'][j] = round(sum(apt_price_avg.iloc[j, (i*12)+1 : ((i+1)*12)+1 ]) /12, 2) # 각 연도 평균 (round함수 이용해서 소수점 제한)
# 2020년 전까지 월별 데이터 삭제
for col in apt_price.columns[1:] :   
  if col == '2021. 01': break    
  del apt_price_avg[col]            

# 2021년도 평균 컬럼 생성 및 값 초기화
apt_price_avg['2021'] = 0.0    
for n in range(len(apt_price_avg)):      
  apt_price_avg['2021'][n] = round( sum( apt_price_avg.iloc[n, 1:11] )/10 ,2) 
# 2021년도 월별 데이터 삭제
for col in apt_price_avg.columns[1:11] :
  del apt_price_avg[col]  


# 수도권, 지방 행 추가하기
apt_price_avg.loc[18] = apt_price_avg.loc[0]
apt_price_avg.loc[19] = apt_price_avg.loc[0]    
apt_price_avg.loc[18, '행정구역'] = '수도권'  # 1,4,9
apt_price_avg.loc[19, '행정구역'] = '지방'    # 0,2,3,5,6,7,8,10,11,12,13,14,15,16,17

# 전국, 수도권, 지방 컬럼값 재정의
for i in range(1, len(apt_price_avg.columns)):
  apt_price_avg.iloc[17, i] = round ( apt_price_avg.iloc[:,i].mean(), 2)
  apt_price_avg.iloc[18, i] = round ( apt_price_avg.iloc[[1,4,9], i].mean(), 2 )
  apt_price_avg.iloc[19, i] = round ( apt_price_avg.iloc[[0,2,3,5,6,7,8,10,11,12,13,14,15,16,17], i].mean(), 2 )
# 인데스 재정의
apt_price_avg = apt_price_avg.reindex(index=[ 0, 18, 19, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17])
apt_price_avg.reset_index(drop=True, inplace = True) 

# 전처리 완료

In [ ]:
# 완성본 csv 파일로 저장
#pd.DataFrame(apt_price_avg).to_csv('/content/drive/MyDrive/멀티캠퍼스/[D9&10] 데이터시각화 프로젝트_4조/이경희/data/아파트 매매 실거래 평균 가격.csv', index=False)
apt_price_avg.head()

    행정구역    2006    2007    2008  ...    2018     2019     2020     2021
0     전국  252.31  224.62  236.70  ...  409.67   428.16   454.28   483.37
1    수도권  299.93  313.70  380.34  ...  531.75   603.75   667.89   825.25
2     지방  127.22  128.90  135.42  ...  276.45   287.12   326.14   348.96
3  서울특별시  442.73  450.44  551.06  ...  806.94  1000.13  1104.96  1379.94
4  부산광역시  150.10  157.31  164.43  ...  351.37   372.90   416.99   422.24

[5 rows x 17 columns]

#1. 인구 데이터

## 1-1. 순 이동 인구수
- 기간 : 2000.01 ~ 2021.11
- 단위 : 명
- 내용 : 각 연도 별로 해당 지역에서 인구가 얼마나 이동(증감)했는지 표현된 데이터
- 가정 : 해당 지역에 인구가 많아지면 주거에 대한 수요가 높아져 집값이 오를 수 있지   않을까?? 반대도 마찬가지로 인구가 줄어들면 수요가 줄어서 집값이 낮아질 수 있지 않을까??
- 출처 → [순이동인구_시도_시_군_구](https://kosis.kr/statisticsList/statisticsListIndex.do?menuId=M_01_03_01&vwcd=MT_GTITLE01&parmTabId=M_01_01&parentId=101.1;&outLink=Y)

In [ ]:
move = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/[D9&10] 데이터시각화 프로젝트_4조/Data/인구 데이터/순이동인구_시도_시_군_구(https:  kosis.kr statisticsList statisticsListIndex.do?menuId=M_01_03_01&vwcd=MT_GTITLE01&parmTabId=M_01_01&parentId=101.1;&outLink=Y).csv', encoding='cp949')
move.head()

   행정구역(시군구)별(1) 2000. 01 2000. 02 2000. 03  ... 2021. 08 2021. 09 2021. 10 2021. 11
0  행정구역(시군구)별(1)        계        계        계  ...        계        계        계        계
1             전국        0        0        0  ...        0        0        0        0
2          서울특별시      972     6018    -5460  ...    -8117    -8119    -9389   -10554
3          부산광역시    -3291    -3617    -3664  ...    -1713     -121    -1615    -1507
4          대구광역시     1156     1334     -729  ...    -1882     -646    -1695    -1806

[5 rows x 264 columns]

In [ ]:
# 데이터 불러오기
move = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/[D9&10] 데이터시각화 프로젝트_4조/Data/인구 데이터/순이동인구_시도_시_군_구(https:  kosis.kr statisticsList statisticsListIndex.do?menuId=M_01_03_01&vwcd=MT_GTITLE01&parmTabId=M_01_01&parentId=101.1;&outLink=Y).csv', encoding='cp949')

# 불필요한 인덱스 삭제 , 인덱스 & 컬럼명 재정의
move.drop(index=[0,1],inplace=True)       
move.reset_index(drop=True, inplace=True)  
move.rename(columns={'행정구역(시군구)별(1)':'행정구역'}, inplace=True)  

# 세종시 생성일자 이전 값 0으로 초기화
for col in move.columns[1:]:
  if move.loc[7,col].isdigit() : break
  move.loc[7,col] = 0

In [ ]:
# 연도별 평균값 구하기
from copy import deepcopy
move_avg = deepcopy(move)

# 지역명 외 컬럼 int로 형 변환 (평균값 계산하기 위함)
for col in move_avg.columns[1:]: 
  move_avg = move_avg.astype({col:'int'})

# 2020년까지 해당 연도별 평균 컬럼 생성 및 초기화
for Y in range(21):           
  move_avg[f'{Y+2000}'] = 0.0   
  for i in range(len(move)):    
    move_avg[f'{Y+2000}'][i] = round(sum(move_avg.iloc[i, (Y*12)+1 : (Y*12)+13]) /12,2)
# 2020년까지 월별 데이터 삭제
for col in move_avg.columns[1:] :   
  if col == '2021. 01': break    
  del move_avg[col]              

# 2021년 평균 컬럼 생성 및 초기화  
move_avg[f'{2021}'] = 0.0    
for i in range(len(move)):    
  move_avg[f'{2021}'][i] = round(sum(move_avg.iloc[i, 1 : 12]) /11, 2) 
# 2021년 월별 데이터 삭제
for col in move_avg.columns[1:] :   
  if col == '2000': break    
  del move_avg[col]       

# 컬렴명 변경 
move_avg.rename(columns={'2000' : '2000'},inplace=True)      

# 전처리 완료 csv 파일로 변환
#pd.DataFrame(move_avg).to_csv('/content/drive/MyDrive/멀티캠퍼스/[D9&10] 데이터시각화 프로젝트_4조/이경희/data/순이동인구수_평균.csv', index=False)

In [ ]:
# 전국, 수도권, 지방 행 추가하기
move = move_avg
# 추가할 행 생성
move.loc[17] = move.loc[0]
move.loc[18] = move.loc[0]
move.loc[19] = move.loc[0]
move.loc[17, '행정구역'] = '전국'    
move.loc[18, '행정구역'] = '수도권'  # 0,3,8
move.loc[19, '행정구역'] = '지방'    # 0,1,2,4,5,6,7,9,10,11,12,13,14,15,16

# 전국, 수도권, 지방 컬럼값 재정의
for i in range(1, len(move.columns)):
  move.iloc[17, i] = round ( move.iloc[:,i].mean(), 2)
  move.iloc[18, i] = round ( move.iloc[[0, 3, 8], i].mean(), 2 )
  move.iloc[19, i] = round ( move.iloc[[0,1,2,4,5,6,7,9,10,11,12,13,14,15,16], i].mean(), 2 )

# 인데스 재정의
move = move.reindex(index=[17, 18, 19, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16])
move.reset_index(drop=True, inplace = True) 

# 완성본 csv파일로 저장
#pd.DataFrame(move).to_csv('/content/drive/MyDrive/멀티캠퍼스/[D9&10] 데이터시각화 프로젝트_4조/이경희/data/순이동인구수_평균.csv', index=False)
move.head()

    행정구역     2000     2001     2002  ...     2018     2019     2020     2021
0     전국  -586.74 -1424.36 -1330.26  ... -1377.88  -619.85  -810.63 -1322.92
1    수도권  4173.67  3780.97  5821.97  ...  1661.03  2298.36  2438.19  1616.22
2     지방 -1095.51 -1389.24 -1755.62  ...  -944.60  -735.16  -847.92  -911.21
3  서울특별시 -3911.58 -9495.75 -8868.42  ... -9185.83 -4132.33 -5404.17 -8819.45
4  부산광역시 -3641.17 -3432.33 -4120.17  ... -2229.92 -1946.17 -1195.58 -1558.55

[5 rows x 23 columns]

## 1-2. 유주택 및 무주택 가구 수
- 기간 : 2015 ~ 2020
- 단위 : 가구
- 내용 : 각 년도 별 총 가구 수, 주택 소유 가구 수, 무주택 가구 수 데이터
- 가정 : 해당 지역에 무주택 가구 수가 많아진다는 것은 집을 소유하고 있는 사람이 별로 없을 수도 있으니까 아파트 거래가 별로 없어 가격이 낮아지지 않을까? 혹은 해당 지역에 아파트 가격이 너무 비싸 여러가지 이유로 그 지역에 살 수 밖에없어서 무주택 가구 수가 증가 될 수 있지않을까??
- 출처 → [거주지역별_주택소유_및_무주택_가구수](https://kosis.kr/statHtml/statHtml.do?orgId=101&tblId=DT_1OH0402&conn_path=I2)

데이터 정리

In [ ]:
house = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/[D9&10] 데이터시각화 프로젝트_4조/Data/인구 데이터/거주지역별_주택소유_및_무주택_가구수_20152020(https:  kosis.kr statHtml statHtml.do?orgId=101&tblId=DT_1OH0402&conn_path=I2).csv', encoding='cp949')
house.head()

   거주지역별(1)        2015    2015.1  ...        2020    2020.1   2020.2
0  거주지역별(1)  총 가구(일반가구)   주택소유 가구  ...  총 가구(일반가구)   주택소유 가구   무주택 가구
1        전국    19111030  10698686  ...    20926710  11730171  9196539
2     서울특별시     3784490   1875295  ...     3982290   1928074  2054216
3     부산광역시     1335900    786367  ...     1405037    809380   595657
4     대구광역시      928528    533011  ...      985816    569624   416192

[5 rows x 19 columns]

In [ ]:
# 데이터 불러오기
house = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/[D9&10] 데이터시각화 프로젝트_4조/Data/인구 데이터/거주지역별_주택소유_및_무주택_가구수_20152020(https:  kosis.kr statHtml statHtml.do?orgId=101&tblId=DT_1OH0402&conn_path=I2).csv', encoding='cp949')

# 컬럼명 변경
house.rename(columns={'거주지역별(1)':'행정구역'}, inplace=True) 

n = 0  # 컬럼 위치를 나타내기 위한 변수
for Y in range(2015,2021):
  for _ in range(1,4) : 
    n+=1 
    if house.columns[n] == f'{Y}':
      house.rename(columns={f'{Y}':f'{Y}(총가구)'}, inplace=True)      # 원래 컬럼명이 '연도' 인 경우  →  연도(총가구)  로 변경
    if house.columns[n] == f'{Y}.1':
      house.rename(columns={f'{Y}.1':f'{Y}(주택소유)'}, inplace=True)  # 원래 컬럼명이 '연도.1' 인 경우  →  연도(주택소유가구)  로 변경
    if house.columns[n] == f'{Y}.2':
      house.rename(columns={f'{Y}.2':f'{Y}(무주택)'}, inplace=True)    # 원래 컬럼명이 '연도.2' 인 경우  →  연도(무주택가구)  로 변경

house.drop(index=[0],inplace=True)           # 불필요한 행 삭제
house.reset_index(drop=True, inplace=True)   # 인덱스 재정의

# 추가할 행 생성
house.loc[18] = house.loc[0]
house.loc[19] = house.loc[0]   
house.loc[18, '행정구역'] = '수도권'  # 1,4,9
house.loc[19, '행정구역'] = '지방'    # 0,2,3,5,6,7,8,10,11,12,13,14,15,16,17

# 전국, 수도권, 지방 컬럼값 재정의
for i in range(1, len(house.columns)):
  house.iloc[18, i] =int(sum( house.iloc[[1, 4, 9], i].astype(int) )/3)
  #round ( house.iloc[[1, 4, 9], i].mean(), 2 )
  house.iloc[19, i] = int(sum( house.iloc[[0,2,3,5,6,7,8,10,11,12,13,14,15,16,17], i].astype(int) )/15)

# 인데스 재정의
house = house.reindex(index=[ 0, 18, 19, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17])
house.reset_index(drop=True, inplace = True) 

# 여기까지 전체 데이터에 대한 전처리 완료

In [ ]:
# 각 카테고리(총 가구수, 주택 소유 가구 수, 무주택 가구 수) 별로도 나눠봄 

base = pd.DataFrame(house['행정구역'])  # base DataFrame 생성

# 총가구수
house_total = house.iloc[:,1::3] 
house_total = base.join(house_total) 
# for col in house_total.columns[1:]: # 컬럼명에 년도만 나타내기
#   house_total.rename(columns={col:col[:4]}, inplace= True)

# 주택 소유 가구 수
householder = house.iloc[:,2::3] 
householder = base.join(householder)
# for col in householder.columns[1:]: 
#   householder.rename(columns={col:col[:4]}, inplace= True)

# 무주택 가구 수
homeless = house.iloc[:,3::3] 
homeless = base.join(homeless)
# for col in homeless.columns[1:]:
#   homeless.rename(columns={col:col[:4]}, inplace= True)

In [ ]:
house_total.head()

    행정구역 2015(총가구) 2016(총가구) 2017(총가구) 2018(총가구) 2019(총가구) 2020(총가구)
0     전국  19111030  19367696  19673875  19979188  20343188  20926710
1    수도권   3071549   3110652   3165498   3228670   3308208   3409307
2     지방   1933827   1960229   1990083   2018157   2050783   2108366
3  서울특별시   3784490   3784705   3813260   3839766   3896389   3982290
4  부산광역시   1335900   1344170   1354401   1363608   1377030   1405037

In [ ]:
# 완성본 csv파일로 저장
# 전체 데이터
pd.DataFrame(house).to_csv('/content/drive/MyDrive/멀티캠퍼스/[D9&10] 데이터시각화 프로젝트_4조/이경희/data/거주지역별 주택소유 및 무주택 가구 수/거주지역별 주택소유 및 무주택 가구수(전체 데이터).csv', index=False)
# 총 가구수 
pd.DataFrame(house_total).to_csv('/content/drive/MyDrive/멀티캠퍼스/[D9&10] 데이터시각화 프로젝트_4조/이경희/data/거주지역별 주택소유 및 무주택 가구 수/거주지역별 주택소유 및 무주택 가구수(총가구수).csv', index=False)
# 주택 소유 가구 수
pd.DataFrame(householder).to_csv('/content/drive/MyDrive/멀티캠퍼스/[D9&10] 데이터시각화 프로젝트_4조/이경희/data/거주지역별 주택소유 및 무주택 가구 수/거주지역별 주택소유 및 무주택 가구수(주택소유).csv', index=False)
# 무주택 가구 수
pd.DataFrame(homeless).to_csv('/content/drive/MyDrive/멀티캠퍼스/[D9&10] 데이터시각화 프로젝트_4조/이경희/data/거주지역별 주택소유 및 무주택 가구 수/거주지역별 주택소유 및 무주택 가구수(무주택).csv',index=False)

### 1-2-1. 성 연령대별 무주택 가구 수 
- 기간 : 2015 ~ 2020
- 단위 : 가구
- 내용 : 거주지역/성/연령대별 무주택 가구 수 데이터 
- 출처 → [거주지역_가구주의_성_연령대별_무주택_가구수](httpskosis.krstatHtmlstatHtml.doorgId=101&tblId=DT_1OH0418&conn_path=I3)

In [ ]:
gender_age_homeless = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/[D9&10] 데이터시각화 프로젝트_4조/Data/인구 데이터/거주지역_가구주의_성_연령대별_무주택_가구수_20152020(httpskosis.krstatHtmlstatHtml.doorgId=101&tblId=DT_1OH0418&conn_path=I3).csv', encoding='cp949')
gender_age_homeless.head()

   거주지역별(1)  성별(1)     2015   2015.1  ...   2020.4   2020.5  2020.6  2020.7
0  거주지역별(1)  성별(1)       총계    30세미만  ...   50~59세   60~69세  70~79세   80세이상
1        전국     총계  8412344  1161399  ...  1752476  1211581  641716  402397
2        전국     남자  5263961   632391  ...  1137161   746838  317331  127977
3        전국     여자  3148383   529008  ...   615315   464743  324385  274420
4     서울특별시     총계  1909195   323795  ...   351368   250452  126587   59247

[5 rows x 50 columns]

In [ ]:
# 데이터 불러오기
gender_age_homeless = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/[D9&10] 데이터시각화 프로젝트_4조/Data/인구 데이터/거주지역_가구주의_성_연령대별_무주택_가구수_20152020(httpskosis.krstatHtmlstatHtml.doorgId=101&tblId=DT_1OH0418&conn_path=I3).csv', encoding='cp949')

# 컬럼명 변경
n = 1 
for Y in range(2015,2021):   
  for _ in range(8) :  
    n+=1 
    if gender_age_homeless.columns[n] == f'{Y}':    gender_age_homeless.rename(columns={f'{Y}':f'{Y}(총계)'}, inplace=True)       
    if gender_age_homeless.columns[n] == f'{Y}.1':  gender_age_homeless.rename(columns={f'{Y}.1':f'{Y}(30세미만)'}, inplace=True)  
    if gender_age_homeless.columns[n] == f'{Y}.2':  gender_age_homeless.rename(columns={f'{Y}.2':f'{Y}(30~39세)'}, inplace=True)  
    if gender_age_homeless.columns[n] == f'{Y}.3':  gender_age_homeless.rename(columns={f'{Y}.3':f'{Y}(40~49세)'}, inplace=True) 
    if gender_age_homeless.columns[n] == f'{Y}.4':  gender_age_homeless.rename(columns={f'{Y}.4':f'{Y}(50~59세)'}, inplace=True) 
    if gender_age_homeless.columns[n] == f'{Y}.5':  gender_age_homeless.rename(columns={f'{Y}.5':f'{Y}(60~69세)'}, inplace=True) 
    if gender_age_homeless.columns[n] == f'{Y}.6':  gender_age_homeless.rename(columns={f'{Y}.6':f'{Y}(70~79세)'}, inplace=True) 
    if gender_age_homeless.columns[n] == f'{Y}.7':  gender_age_homeless.rename(columns={f'{Y}.7':f'{Y}(80세이상)'}, inplace=True) 
gender_age_homeless.head(1)

gender_age_homeless.rename(columns={'거주지역별(1)':'행정구역','성별(1)':'성별'}, inplace=True)

# 불필요한 인덱스 정리 & 재정의
gender_age_homeless.drop(index=[0],inplace=True)
gender_age_homeless.reset_index(drop=True, inplace=True)


# 수도권, 지방 추가하기 
# 수도권    - 3,4,5, 12,13,14, 27,28,29
gender_age_homeless.loc[54] = gender_age_homeless.loc[0]   # 총계
gender_age_homeless.loc[55] = gender_age_homeless.loc[1]   # 남자
gender_age_homeless.loc[56] = gender_age_homeless.loc[2]   # 여자
gender_age_homeless.loc[54, '행정구역'] = '수도권'
gender_age_homeless.loc[55, '행정구역'] = '수도권'
gender_age_homeless.loc[56, '행정구역'] = '수도권'

# 지방 -  0,1,2,3,4,5,12,13,14,27,28,29 를 제외한 모든 값
gender_age_homeless.loc[57] = gender_age_homeless.loc[0]   # 총계
gender_age_homeless.loc[58] = gender_age_homeless.loc[1]   # 남자
gender_age_homeless.loc[59] = gender_age_homeless.loc[2]   # 여자
gender_age_homeless.loc[57, '행정구역'] = '지방'
gender_age_homeless.loc[58, '행정구역'] = '지방'
gender_age_homeless.loc[59, '행정구역'] = '지방'


# 각 해당 카테고리에 해당하는 인덱스 설정
지방_총계 = [6,9]
지방_총계 += [i for i in range(15,54,3)]
지방_남자 = [7,10]
지방_남자 += [i for i in range(16,54,3)]
지방_여자 = [8,11]
지방_여자 += [i for i in range(17,54,3)]

# 수도권, 지방 컬럼값 재정의
for i in range(2, len(gender_age_homeless.columns)):
  # 수도권
  gender_age_homeless.iloc[54, i] =int(sum( gender_age_homeless.iloc[[3, 12, 27], i].astype(int) )/3)  # 총계
  gender_age_homeless.iloc[55, i] =int(sum( gender_age_homeless.iloc[[4, 13, 28], i].astype(int) )/3)  # 남자
  gender_age_homeless.iloc[56, i] =int(sum( gender_age_homeless.iloc[[5, 14, 29], i].astype(int) )/3)  # 여자
  # 지방
  gender_age_homeless.iloc[57, i] =int(sum( gender_age_homeless.iloc[[1, 4, 9], i].astype(int) )/3) # 총계
  gender_age_homeless.iloc[58, i] =int(sum( gender_age_homeless.iloc[[1, 4, 9], i].astype(int) )/3) # 남자
  gender_age_homeless.iloc[59, i] =int(sum( gender_age_homeless.iloc[[1, 4, 9], i].astype(int) )/3) # 여자

# 인데스 재정의
idx = [0,1,2,54,55,56,57,58,59]
add = [i for i in range(3,54)]

gender_age_homeless = gender_age_homeless.reindex(index= idx + add )
gender_age_homeless.reset_index(drop=True, inplace = True) 

# 여기까지 전체 데이터에 대한 전처리 완료

In [ ]:
# 각 카테고리(총계, 남자, 여자) 별로도 나눠봄

# 총계
gender_age_total = gender_age_homeless.iloc[0::3,:]
gender_age_total.reset_index(drop=True,inplace=True)  
gender_age_total.drop(columns='성별',inplace=True) 

# 남자
gender_age_man = gender_age_homeless.iloc[1::3,:] 
gender_age_man.reset_index(drop=True,inplace=True)  
gender_age_man.drop(columns='성별',inplace=True)

# 여자
gender_age_woman = gender_age_homeless.iloc[2::3,:]
gender_age_woman.reset_index(drop=True,inplace=True)
gender_age_woman.drop(columns='성별',inplace=True)

In [ ]:
# 완성본
# 전체 데이터
pd.DataFrame(gender_age_homeless).to_csv('/content/drive/MyDrive/멀티캠퍼스/[D9&10] 데이터시각화 프로젝트_4조/이경희/data/성 연령대 별 무주택 가구 수/성 연령대 별 무주택 가구 수(전체데이터).csv', index=False)
# 총계
pd.DataFrame(gender_age_total).to_csv('/content/drive/MyDrive/멀티캠퍼스/[D9&10] 데이터시각화 프로젝트_4조/이경희/data/성 연령대 별 무주택 가구 수/성 연령대 별 무주택 가구 수(총계).csv', index=False)
# 남자
pd.DataFrame(gender_age_man).to_csv('/content/drive/MyDrive/멀티캠퍼스/[D9&10] 데이터시각화 프로젝트_4조/이경희/data/성 연령대 별 무주택 가구 수/성 연령대 별 무주택 가구 수(남자).csv', index=False)
# 여자
pd.DataFrame(gender_age_woman).to_csv('/content/drive/MyDrive/멀티캠퍼스/[D9&10] 데이터시각화 프로젝트_4조/이경희/data/성 연령대 별 무주택 가구 수/성 연령대 별 무주택 가구 수(여자).csv', index=False)

In [ ]:
gender_age_homeless.head()

  행정구역  성별 2015(총계)  ... 2020(60~69세) 2020(70~79세) 2020(80세이상)
0   전국  총계  8412344  ...      1211581       641716      402397
1   전국  남자  5263961  ...       746838       317331      127977
2   전국  여자  3148383  ...       464743       324385      274420
3  수도권  총계  1431400  ...       199895        97366       49792
4  수도권  남자   910583  ...       123231        50805       18172

[5 rows x 50 columns]

In [ ]:
gender_age_total.head()

    행정구역 2015(총계) 2015(30세미만)  ... 2020(60~69세) 2020(70~79세) 2020(80세이상)
0     전국  8412344     1161399  ...      1211581       641716      402397
1    수도권  1431400      196310  ...       199895        97366       49792
2     지방  2272087      278135  ...       319516       138017       55929
3  서울특별시  1909195      323795  ...       250452       126587       59247
4  부산광역시   549533       75957  ...        96063        52847       27033

[5 rows x 49 columns]

In [ ]:
gender_age_man.head()

    행정구역 2015(총계) 2015(30세미만)  ... 2020(60~69세) 2020(70~79세) 2020(80세이상)
0     전국  5263961      632391  ...       746838       317331      127977
1    수도권   910583      101621  ...       123231        50805       18172
2     지방  2272087      278135  ...       319516       138017       55929
3  서울특별시  1156784      151342  ...       150407        65303       21237
4  부산광역시   328547       39047  ...        57206        25081        8559

[5 rows x 49 columns]

In [ ]:
gender_age_woman.head()

    행정구역 2015(총계) 2015(30세미만)  ... 2020(60~69세) 2020(70~79세) 2020(80세이상)
0     전국  3148383      529008  ...       464743       324385      274420
1    수도권   520817       94688  ...        76664        46561       31619
2     지방  2272087      278135  ...       319516       138017       55929
3  서울특별시   752411      172453  ...       100045        61284       38010
4  부산광역시   220986       36910  ...        38857        27766       18474

[5 rows x 49 columns]

## 1-3. 평균 초혼 연령
- 기간 : 2000 ~ 2020
- 단위 : 세
- 내용 : 전국 시도별 남,여 평균초혼연령
- 가정 : 아파트 가격이 상승하면서 구매자금을 모아야 하니까 초혼연령이 높아지는 경향이 있지않을까?
- 출처 → [시도별_평균초혼연령](https://kosis.kr/statHtml/statHtml.do?orgId=101&tblId=DT_1B83A05&vw_cd=MT_ZTITLE&list_id=A23_2&seqNo=&lang_mode=ko&language=kor&obj_var_id=&itm_id=&conn_path=MT_ZTITLE)

In [ ]:
# 전처리 파일 불러오기
rawData = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/[D9&10] 데이터시각화 프로젝트_4조/Data/인구 데이터/시도별_평균초혼연령_20002020(https:  kosis.kr statHtml statHtml.do?orgId=101&tblId=DT_1B83A05&vw_cd=MT_ZTITLE&list_id=A23_2&seqNo=&lang_mode=ko&language=kor&obj_var_id=&itm_id=&conn_path=MT_ZTITLE).csv', encoding='cp949')
firstMarriage = rawData
firstMarriage.head()

     시도별   2000 2000.1   2001 2001.1  ... 2018.1   2019 2019.1   2020 2020.1
0    시도별     남편     아내     남편     아내  ...     아내     남편     아내     남편     아내
1     전국  29.28  26.49  29.55  26.78  ...  30.40  33.37  30.59  33.23  30.78
2  서울특별시  29.65  27.25  29.88  27.52  ...  31.32  33.72  31.55  33.61  31.60
3  부산광역시  29.43  26.74  29.68  27.04  ...  30.91  33.54  31.04  33.39  31.08
4  대구광역시  29.10  26.51  29.43  26.77  ...  30.51  33.36  30.62  33.08  30.67

[5 rows x 43 columns]

In [ ]:
# 평균초혼연령 남 + 여
firstMarriage_total = firstMarriage

In [ ]:
# 2000 ~ 2020년
# 합계
firstMarriage_total.drop(index=0, inplace=True)
firstMarriage_total.reset_index(drop=True, inplace=True)
firstMarriage_total.drop(index=0, inplace=True)
firstMarriage_total.reset_index(drop=True, inplace=True)

In [ ]:
# 문자열을 정수형으로 변경
for i in range(len(firstMarriage_total)):
  for j in range(1, len(firstMarriage_total.columns)):
    if firstMarriage_total.iloc[i][j] == '-': # 세종시의 결측치
      firstMarriage_total.iloc[i][j] = 0
    else:
      firstMarriage_total.iloc[i][j] = float(firstMarriage_total.iloc[i][j])

In [ ]:
# 연도 column생성
for i in range((2020-2000)+1):
  firstMarriage_total['{}{}'.format(i+2000, '년')] = float(0)

In [ ]:
# 남+여 값을 연도 column에 대입
for i in range(len(firstMarriage_total)):
  for j in range(2020-2000+1):
    firstMarriage_total['{}{}'.format(2000+j, '년')][i] = round(sum(firstMarriage_total.iloc[i, (j*2)+1:(j*2)+3])/2, 2)

In [ ]:
# 년도별 평균 값 빼고 년도.월 column 제거
for col in firstMarriage_total.columns[1:43]:
  del firstMarriage_total[col]

In [ ]:
# column명 변경
for i in range(2020-2000+1):
  firstMarriage_total.rename(columns={'{}{}'.format(str(2000+i), '년') : '{}'.format(str(2000+i))}, inplace=True)

In [ ]:
# 전국, 수도권, 지방 index 추가
nationWide = pd.Series(['전국', '수도권', '지방'])

for i in range(len(nationWide)):
  if nationWide[i] == '전국':
    nationWideSum = [nationWide[i]]
    for j in range(1, len(firstMarriage_total.columns)):
      nationWideSum.append(round(sum(firstMarriage_total.iloc[:, j])/17, 2))

  elif nationWide[i] == '수도권':
    nationWideSum = [nationWide[i]]
    for k in range(1, len(firstMarriage_total.columns)):
      nationWideSum.append(round((firstMarriage_total.iloc[0, k] + firstMarriage_total.iloc[3, k] + firstMarriage_total.iloc[8, k])/3, 2))
  
  elif nationWide[i] == '지방':
    nationWideSum = [nationWide[i]]
    for l in range(1, len(firstMarriage_total.columns)):
      nationWideSum.append(round((sum(firstMarriage_total.iloc[1:3, l]) + sum(firstMarriage_total.iloc[4:8, l]) + sum(firstMarriage_total.iloc[9:17, l]))/14, 2))

  firstMarriage_total.loc[len(firstMarriage_total)] = nationWideSum

In [ ]:
# index 재정렬
firstMarriage_total = firstMarriage_total.reindex(index=[17, 18, 19, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16])
firstMarriage_total.reset_index(drop=True, inplace=True)

In [ ]:
# '행정구역', '2011'년도 column 명 변경
firstMarriage_total.rename(columns={'시도별':'행정구역'}, inplace=True)

In [ ]:
firstMarriage_total.head()

    행정구역   2000   2001   2002   2003  ...   2016   2017   2018   2019   2020
0     전국  25.99  26.25  26.48  26.78  ...  31.34  31.49  31.70  31.92  31.87
1    수도권  28.05  28.30  28.52  28.85  ...  31.66  31.79  31.98  32.20  32.15
2     지방  25.55  25.81  26.04  26.34  ...  31.27  31.42  31.64  31.86  31.81
3  서울특별시  28.45  28.70  28.95  29.27  ...  32.11  32.28  32.41  32.63  32.61
4  부산광역시  28.09  28.36  28.61  28.98  ...  31.84  31.98  32.12  32.29  32.23

[5 rows x 22 columns]

### 남성

In [ ]:
rawData = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/[D9&10] 데이터시각화 프로젝트_4조/Data/인구 데이터/시도별_평균초혼연령_20002020(https:  kosis.kr statHtml statHtml.do?orgId=101&tblId=DT_1B83A05&vw_cd=MT_ZTITLE&list_id=A23_2&seqNo=&lang_mode=ko&language=kor&obj_var_id=&itm_id=&conn_path=MT_ZTITLE).csv', encoding='cp949')
firstMarriage = rawData
firstMarriage.head()

     시도별   2000 2000.1   2001 2001.1  ... 2018.1   2019 2019.1   2020 2020.1
0    시도별     남편     아내     남편     아내  ...     아내     남편     아내     남편     아내
1     전국  29.28  26.49  29.55  26.78  ...  30.40  33.37  30.59  33.23  30.78
2  서울특별시  29.65  27.25  29.88  27.52  ...  31.32  33.72  31.55  33.61  31.60
3  부산광역시  29.43  26.74  29.68  27.04  ...  30.91  33.54  31.04  33.39  31.08
4  대구광역시  29.10  26.51  29.43  26.77  ...  30.51  33.36  30.62  33.08  30.67

[5 rows x 43 columns]

In [ ]:
# 2000 ~ 2020년
# 남편
list1 = []
for i in firstMarriage.columns[2::2]:
  list1.append(i)

firstMarriage_male = firstMarriage.drop(list1, axis=1)
firstMarriage_male.rename(columns={'시도별':'행정구역'}, inplace=True)
firstMarriage_male.drop(index=0, inplace=True)
firstMarriage_male.reset_index(drop=True, inplace=True)
firstMarriage_male.drop(index=0, inplace=True)
firstMarriage_male.reset_index(drop=True, inplace=True)

In [ ]:
# 문자열을 정수형으로 변경
for i in range(len(firstMarriage_male)):
  for j in range(1, len(firstMarriage_male.columns)):
    if firstMarriage_male.iloc[i][j] == '-': # 세종시의 결측치
      firstMarriage_male.iloc[i][j] = 0
    else:
      firstMarriage_male.iloc[i][j] = float(firstMarriage_male.iloc[i][j])

In [ ]:
nationWide = pd.Series(['전국', '수도권', '지방'])

for i in range(len(nationWide)):
  if nationWide[i] == '전국':
    nationWideSum = [nationWide[i]]
    for j in range(1, len(firstMarriage_male.columns)):
      nationWideSum.append(round(sum(firstMarriage_male.iloc[:, j])/17, 2))

  elif nationWide[i] == '수도권':
    nationWideSum = [nationWide[i]]
    for k in range(1, len(firstMarriage_male.columns)):
      nationWideSum.append(round((firstMarriage_male.iloc[0, k] + firstMarriage_male.iloc[3, k] + firstMarriage_male.iloc[8, k])/3, 2))
  
  elif nationWide[i] == '지방':
    nationWideSum = [nationWide[i]]
    for l in range(1, len(firstMarriage_male.columns)):
      nationWideSum.append(round((sum(firstMarriage_male.iloc[1:3, l]) + sum(firstMarriage_male.iloc[4:8, l]) + sum(firstMarriage_male.iloc[9:17, l]))/14, 2))

  firstMarriage_male.loc[len(firstMarriage_male)] = nationWideSum

In [ ]:
firstMarriage_male = firstMarriage_male.reindex(index=[17, 18, 19, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16])
firstMarriage_male.reset_index(drop=True, inplace=True)

In [ ]:
firstMarriage_male.head()

    행정구역   2000   2001   2002   2003  ...   2016   2017   2018   2019   2020
0     전국  27.34  27.58  27.82  28.15  ...  32.69  32.83  33.07  33.29  33.13
1    수도권  29.38  29.61  29.82  30.22  ...  32.88  33.02  33.21  33.44  33.25
2     지방   26.9  27.15  27.39  27.71  ...  32.65  32.79  33.04  33.26   33.1
3  서울특별시  29.65  29.88  30.12  30.51  ...   33.2  33.36  33.51  33.72  33.61
4  부산광역시  29.43  29.68  29.95  30.35  ...  33.04  33.23  33.32  33.54  33.39

[5 rows x 22 columns]

### 여성

In [ ]:
rawData = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/[D9&10] 데이터시각화 프로젝트_4조/Data/인구 데이터/시도별_평균초혼연령_20002020(https:  kosis.kr statHtml statHtml.do?orgId=101&tblId=DT_1B83A05&vw_cd=MT_ZTITLE&list_id=A23_2&seqNo=&lang_mode=ko&language=kor&obj_var_id=&itm_id=&conn_path=MT_ZTITLE).csv', encoding='cp949')
num_marriage_age = rawData

In [ ]:
num_marriage_age.head()

     시도별   2000 2000.1   2001 2001.1  ... 2018.1   2019 2019.1   2020 2020.1
0    시도별     남편     아내     남편     아내  ...     아내     남편     아내     남편     아내
1     전국  29.28  26.49  29.55  26.78  ...  30.40  33.37  30.59  33.23  30.78
2  서울특별시  29.65  27.25  29.88  27.52  ...  31.32  33.72  31.55  33.61  31.60
3  부산광역시  29.43  26.74  29.68  27.04  ...  30.91  33.54  31.04  33.39  31.08
4  대구광역시  29.10  26.51  29.43  26.77  ...  30.51  33.36  30.62  33.08  30.67

[5 rows x 43 columns]

In [ ]:
#여성 데이터만 분리
w_marriage_age=pd.DataFrame(
    num_marriage_age[['시도별','2000.1','2001.1','2002.1','2003.1','2004.1','2005.1','2006.1','2007.1','2008.1','2009.1','2010.1','2011.1','2012.1','2013.1','2014.1','2015.1','2016.1','2017.1','2018.1','2019.1','2020.1']].loc[1:18]
)
w_marriage_age.head()

In [ ]:
# 년도.1 -> .1 삭제 및 행정구역 명칭변경
w_marriage_age.rename(columns={
    '시도별':'행정구역',
    '2000.1':'2000',
    '2001.1':'2001',
    '2002.1':'2002',
    '2003.1':'2003',
    '2004.1':'2004',
    '2005.1':'2005',
    '2006.1':'2006',
    '2007.1':'2007',
    '2008.1':'2008',
    '2009.1':'2009',
    '2010.1':'2010',
    '2011.1':'2011',
    '2012.1':'2012',
    '2013.1':'2013',
    '2014.1':'2014',
    '2015.1':'2015',
    '2016.1':'2016',
    '2017.1':'2017',
    '2018.1':'2018',
    '2019.1':'2019',
    '2020.1':'2020'
    }, inplace=True)

# w_marriage_age1 로 저장한 뒤 '행정기준' 인덱스를 기준으로 잡음.
w_marriage_age1=w_marriage_age
w_marriage_age2=w_marriage_age1.set_index('행정구역')
w_marriage_age2

# '-' 를 0으로 값 변환
w_marriage_age2 = w_marriage_age2.replace('-', '0')
w_marriage_age2

# 데이터 값 문자열을 float 로 변경한다.(소수점 셋째자리에서 반올림)
for n in w_marriage_age2.columns:
  w_marriage_age2[n] = pd.to_numeric(w_marriage_age2[n]).round(2).astype(float, errors='ignore')
w_marriage_age2

# 수도권과, 지방을 목록에 추가하고자 먼저 행렬변환후 내용 추가
w_marriage_age2=w_marriage_age2.T
w_marriage_age2

w_marriage_age2['수도권'] = (w_marriage_age2['서울특별시'] + w_marriage_age2['인천광역시'] + w_marriage_age2['경기도']) / 3
w_marriage_age2

w_marriage_age2['지방'] = (w_marriage_age2['부산광역시'] + w_marriage_age2['대구광역시'] + w_marriage_age2['광주광역시'] + w_marriage_age2['대전광역시'] + w_marriage_age2['울산광역시'] + w_marriage_age2['세종특별자치시'] + w_marriage_age2['광주광역시'] + w_marriage_age2['강원도'] + w_marriage_age2['충청북도'] + w_marriage_age2['충청남도'] + w_marriage_age2['전라북도'] + w_marriage_age2['전라남도'] + w_marriage_age2['경상북도'] + w_marriage_age2['경상남도'] + w_marriage_age2['제주특별자치도']) / 15
w_marriage_age2 = w_marriage_age2.round(2).astype(float, errors='ignore')
w_marriage_age2

# w_marriage_3 에 다시 행렬 변환하여 원복
w_marriage_age3 =w_marriage_age2.T
w_marriage_age3

# 인덱스를 초기화하여 인덱스 넘버를 복귀
w_marriage_age3=w_marriage_age3.reset_index()
w_marriage_age3

# 18.19 행의 수도권, 지방을 전국 아래에 reindex 실행.
w_marriage_age4 = w_marriage_age3.reindex(index=[ 0, 18, 19, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17])

In [ ]:
# 다시 인덱스 넘버 초기화.(최종)
w_marriage_age4=w_marriage_age4.reset_index(drop=True)

In [ ]:
# 연도, 지역별 여성 혼인건수 CSV 형태로 변환 후 저장

pd.DataFrame(w_marriage_age).to_csv('/content/drive/MyDrive/멀티캠퍼스/프로젝트1/전처리_시도별_여성평균초혼연령4(이현호)).csv',index=False)

In [ ]:
w_marriage_age4.head()

    행정구역   2000   2001   2002   2003  ...   2016   2017   2018   2019   2020
0     전국  26.49  26.78  27.01  27.27  ...  30.11  30.24  30.40  30.59  30.78
1    수도권  26.72  26.99  27.22  27.48  ...  30.43  30.56  30.74  30.96  31.04
2     지방  24.33  24.61  24.82  25.10  ...  29.91  30.07  30.24  30.46  30.52
3  서울특별시  27.25  27.52  27.78  28.02  ...  31.01  31.20  31.32  31.55  31.60
4  부산광역시  26.74  27.04  27.26  27.60  ...  30.63  30.74  30.91  31.04  31.08

[5 rows x 22 columns]

## 1-4. 출생률
- 기간 : 2000 ~ 2020
- 단위 : 명
- 내용 : 시도별/연도별 출생인구수를 비교
- 가정 : 해당 지역에 출생률이 높아지면 가족 구성원이 많아져 큰 평수의 아파트에 대한 수요가 높아져서 아파트 가격이 높아지지 않을까?
- 출처 → [연도 및 지역별 출생건수, 혼인건수](https://kosis.kr/statHtml/statHtml.do?orgId=101&tblId=DT_1B8000H&conn_path=I2)

In [ ]:
# 전체 데이터를 불러오기
rawData=pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/[D9&10] 데이터시각화 프로젝트_4조/Data/인구 데이터/연도 및 지역별 출생건수, 혼인건수(국가통계포털_https:  kosis.kr statHtml statHtml.do?orgId=101&tblId=DT_1B8000H&conn_path=I2).csv', encoding='cp949')
rawData.head()

   행정구역별      2000    2000.1      2001  ...      2019    2019.1      2020    2020.1
0  행정구역별  출생건수 (명)  혼인건수 (건)  출생건수 (명)  ...  출생건수 (명)  혼인건수 (건)  출생건수 (명)  혼인건수 (건)
1     전국    640089    332090    559934  ...    302676    239159    272337    213502
2  서울특별시    133154     78745    114764  ...     53673     48261     47445     44746
3  부산광역시     41222     23343     35848  ...     17049     13780     15058     12128
4  대구광역시     32477     16124     28111  ...     13233      9880     11193      8340

[5 rows x 43 columns]

In [ ]:
# 2000~2020년 행정구역별 출생건수만 분리

num_birth=pd.DataFrame(
    rawData[['행정구역별','2000','2001','2002','2003','2004','2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015','2016','2017','2018','2019','2020']].loc[1:18]
    )

In [ ]:
# 행정구역별 -> 행정구역으로 명칭변경
num_birth.rename(columns={'행정구역별':'행정구역'}, inplace=True)

num_birth1 = num_birth

# 행정구역을 인덱스로 잡음
num_birth1.index = num_birth1['행정구역']
num_birth1.drop(columns='행정구역', inplace=True)

# 결측치를 0으로 처리
num_birth1 = num_birth1.replace('-', '0')

# 문자열 데이터를 int 타입으로 변환
for n in num_birth1.columns:
  num_birth1[n] = pd.to_numeric(num_birth1[n]).round(0).astype(int, errors='ignore')
num_birth1



# 수도권과, 지방을 목록에 추가하고자 먼저 행렬변환후 내용 추가
num_birth1=num_birth1.T
num_birth1['수도권'] = (num_birth1['서울특별시'] + num_birth1['인천광역시'] + num_birth1['경기도']) / 3
num_birth1['지방'] = (num_birth1['부산광역시'] + num_birth1['대구광역시'] + num_birth1['광주광역시'] + num_birth1['대전광역시'] + num_birth1['울산광역시'] + num_birth1['세종특별자치시'] + num_birth1['광주광역시'] + num_birth1['강원도'] + num_birth1['충청북도'] + num_birth1['충청남도'] + num_birth1['전라북도'] + num_birth1['전라남도'] + num_birth1['경상북도'] + num_birth1['경상남도'] + num_birth1['제주특별자치도']) / 15
num_birth1 = num_birth1.round(0).astype(int, errors='ignore')

# 다시 행렬 전환하여 원복
num_birth2 =num_birth1.T

# 인덱스명 초기화 후 리인덱스하여 수도권과 지방 행을 전국 아래에 위치하도록 변경
num_birth2=num_birth2.reset_index()
num_birth3 = num_birth2.reindex(index=[ 0, 18, 19, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17])

In [ ]:
# 연도/지역별, 출생건수 인덱스를 순서대로 변경(최종)

num_birth3=num_birth3.reset_index(drop=True)

In [ ]:
# 전체 데이터를 불러낸 후 출생건수만 분리
num_birth=pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/프로젝트1/Data/인구 데이터/전처리_이현호/전처리_연도별_지역별_출생건수(이현호)).csv')
num_birth

In [ ]:
num_birth3.head()

    행정구역    2000    2001    2002  ...    2017    2018    2019    2020
0     전국  640089  559934  496911  ...  357771  326822  302676  272337
1    수도권  103097   90507   81879  ...   59974   55445   51798   47074
2     지방   23463   20441   17821  ...   12531   11306   10376    9229
3  서울특별시  133154  114764  102008  ...   65389   58074   53673   47445
4  부산광역시   41222   35848   30767  ...   21480   19152   17049   15058

[5 rows x 22 columns]

## 1-5. 혼인율
- 기간 : 2000 ~ 2020
- 단위 : 건
- 내용 : 시도별/연도별 출생인구수를 비교
- 가정 : 아파트 가격이 올라가면 혼인을 기피하는 현상이 있어서 혼인율이 낮아지지 않을까??
- 출처 → [연도 및 지역별 출생건수, 혼인건수](https://kosis.kr/statHtml/statHtml.do?orgId=101&tblId=DT_1B8000H&conn_path=I2)

In [ ]:
rawData=pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/[D9&10] 데이터시각화 프로젝트_4조/Data/인구 데이터/연도 및 지역별 출생건수, 혼인건수(국가통계포털_https:  kosis.kr statHtml statHtml.do?orgId=101&tblId=DT_1B8000H&conn_path=I2).csv', encoding='cp949')

In [ ]:
num_marriage = rawData
num_marriage.head()

   행정구역별      2000    2000.1      2001  ...      2019    2019.1      2020    2020.1
0  행정구역별  출생건수 (명)  혼인건수 (건)  출생건수 (명)  ...  출생건수 (명)  혼인건수 (건)  출생건수 (명)  혼인건수 (건)
1     전국    640089    332090    559934  ...    302676    239159    272337    213502
2  서울특별시    133154     78745    114764  ...     53673     48261     47445     44746
3  부산광역시     41222     23343     35848  ...     17049     13780     15058     12128
4  대구광역시     32477     16124     28111  ...     13233      9880     11193      8340

[5 rows x 43 columns]

In [ ]:
# 2000~2020년까지의 행정구역별 혼인수
# '전국' 이 포함되어 있음. (홀수, 짝수별로 슬라이싱 하려고 했으나 실패..하여 노가다)

num_marriage=pd.DataFrame(
    num_all[['행정구역별','2000.1','2001.1','2002.1','2003.1','2004.1','2005.1','2006.1','2007.1','2008.1','2009.1','2010.1','2011.1','2012.1','2013.1','2014.1','2015.1','2016.1','2017.1','2018.1','2019.1','2020.1']].loc[1:18]
    )

In [ ]:
# 행정구역별 -> 지역으로 변경
num_marriage.rename(columns={'지역':'행정구역'}, inplace=True)

In [ ]:
# 년도.1 -> .1 삭제
num_marriage.rename(columns={
    '2000.1':'2000',
    '2001.1':'2001',
    '2002.1':'2002',
    '2003.1':'2003',
    '2004.1':'2004',
    '2005.1':'2005',
    '2006.1':'2006',
    '2007.1':'2007',
    '2008.1':'2008',
    '2009.1':'2009',
    '2010.1':'2010',
    '2011.1':'2011',
    '2012.1':'2012',
    '2013.1':'2013',
    '2014.1':'2014',
    '2015.1':'2015',
    '2016.1':'2016',
    '2017.1':'2017',
    '2018.1':'2018',
    '2019.1':'2019',
    '2020.1':'2020'
    }, inplace=True)

# 백업용으로 num_marriage1 에 저장
num_marriage1 = num_marriage

# 행정구역을 인덱스로 잡음
num_marriage1.index = num_marriage1['행정구역']
num_marriage1.drop(columns='행정구역', inplace=True)

# 결측치를 0으로 변경
num_marriage1 = num_marriage1.replace('-', '0')

# 쉽게 계산하기 위하여 행렬 변환
num_marriage1=num_marriage1.T

# 문자열 칼럼을 숫자형으로 변경
for n in num_marriage1.columns:
  num_marriage1[n] = pd.to_numeric(num_marriage1[n]).round(0).astype(int, errors='ignore')

# 수도권, 지방 열을 추가하여 계산
num_marriage1['수도권'] = round((num_marriage1['서울특별시'] + num_marriage1['인천광역시'] + num_marriage1['경기도']),2) / 3
num_marriage1['지방'] = (num_marriage1['부산광역시'] + num_marriage1['대구광역시'] + num_marriage1['광주광역시'] + num_marriage1['대전광역시'] + num_marriage1['울산광역시'] + num_marriage1['세종특별자치시'] + num_marriage1['광주광역시'] + num_marriage1['강원도'] + num_marriage1['충청북도'] + num_marriage1['충청남도'] + num_marriage1['전라북도'] + num_marriage1['전라남도'] + num_marriage1['경상북도'] + num_marriage1['경상남도'] + num_marriage1['제주특별자치도']) / 15
num_marriage1 = num_marriage1.round(0).astype(int, errors='ignore')

# 다시 행렬 원복
num_marriage2 =num_marriage1.T

# 인덱스 명을 복구하고, 수도권, 지방의 행을 전국의 아래에 위치하도록 변경
num_marriage2=num_marriage2.reset_index()
num_marriage3 = num_marriage2.reindex(index=[ 0, 18, 19, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17])

In [ ]:
# 인덱스 순서를 다시 정렬함.(최종)

num_marriage3=num_marriage3.reset_index(drop=True)

In [ ]:
# 연도, 지역별 혼인건수 CSV 형태로 변환 후 저장

pd.DataFrame(num_marriage3).to_csv('/content/drive/MyDrive/멀티캠퍼스/프로젝트1/전처리_연도별_지역별_혼인건수3(이현호)).csv',index=False)

In [ ]:
num_marriage3.head()

    행정구역    2000    2001    2002  ...    2017    2018    2019    2020
0     전국  332090  318407  304877  ...  264455  257622  239159  213502
1    수도권   55254   54319   52626  ...   45147   44577   41339   38045
2     지방   11409   10634   10070  ...    8736    8349    7746    6770
3  서울특별시   78745   77376   72696  ...   53776   52005   48261   44746
4  부산광역시   23343   21825   20916  ...   15677   14781   13780   12128

[5 rows x 22 columns]

## 1-6. 인구밀도
- 기간 : 2015 ~ 2020
- 단위 : 명 / m^2
- 내용 : 시도/연도별 인구밀도
- 가정 : 수도권의 인구 집중, 인구의 밀도가 집값과 연관이 있지 않을까?
- 출처 → [국가통계포털, 인구밀도](httpskosis.krstatHtmlstatHtml.doorgId=101&tblId=DT_1B08024&conn_path=I2)

In [ ]:
pop_density = pd.read_csv("/content/drive/MyDrive/[D9&10] 데이터시각화 프로젝트_4조/이현호/데이터(사본)/2인구밀도_인구주택총조사기준_단위_명 km2(국가통계포털 httpskosis.krstatHtmlstatHtml.doorgId=101&tblId=DT_1B08024&conn_path=I2).csv", encoding='cp949')
pop_density

In [ ]:
# 컬럼명 변경
pop_density.rename(columns={'행정구역별':'행정구역'}, inplace=True)

In [ ]:
# 행정구역을 인덱스로 설정
pop_density.index = pop_density['행정구역']
pop_density.drop(columns='행정구역', inplace=True)
pop_density

# 인덱스 초기화
pop_density=pop_density.reset_index()

In [ ]:
# 연도별 인구밀도 CSV 형태로 변환 후 저장

pd.DataFrame(num_birth3).to_csv('/content/drive/MyDrive/멀티캠퍼스/프로젝트1/인구밀도.csv',index=False)

# 2. 경제 데이터

## 2-1. 소비자 물가 등락률
- 단위 : %
- 기간 : 2006년 ~ 2021년, 월별 데이터
  - 세종시 : 2016년 ~
- 내용 : 2006년 ~ 2021년 까지 월별 소비자 물가 등락률에 관한 데이터
- 가정 : 물가상승률을 산정 할 때 아파트가격이 포함되지는 않지만, 소비자 물가 등락률이 높을수록 물가상승률이 높아지니까 아파트 가격이 오르지 않을까? 
- 출처 : [국가통계포털 KOSIS / 소비자 물가 등락률](https://kosis.kr/statHtml/statHtml.do?orgId=101&tblId=DT_1YL20581&conn_path=I2)

In [ ]:
rawData1 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/[D9&10] 데이터시각화 프로젝트_4조/Data/경제 데이터/소비자물가_등락률_시도(https:  kosis.kr statisticsList statisticsListIndex.do?menuId=M_01_03_01&vwcd=MT_GTITLE01&parmTabId=M_01_01&parentId=105.1;&outLink=Y#content-group).csv', encoding='cp949')
rawData1.head()

  행정구역별(1) 2006 2007 2008 2009 2010  ... 2016 2017 2018 2019 2020  2021
0       전국  2.2  2.5  4.7  2.8  2.9  ...  1.0  1.9  1.5  0.4  0.5   2.5
1    서울특별시  2.1  2.6  4.2  2.9  2.8  ...  1.2  2.0  1.3  0.6  0.6   2.1
2    부산광역시  2.2  2.5  4.7  3.0  3.1  ...  1.2  1.8  1.7  0.5  0.2   2.5
3    대구광역시  2.3  2.4  4.8  2.4  2.8  ...  1.0  2.0  1.7  0.7  0.3   2.6
4    인천광역시  2.4  2.3  4.9  2.7  3.2  ...  0.9  1.9  1.6  0.3  0.8   2.6

[5 rows x 17 columns]

In [ ]:
# 파일 불러오기
rawData1 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/[D9&10] 데이터시각화 프로젝트_4조/Data/경제 데이터/소비자물가_등락률_시도(https:  kosis.kr statisticsList statisticsListIndex.do?menuId=M_01_03_01&vwcd=MT_GTITLE01&parmTabId=M_01_01&parentId=105.1;&outLink=Y#content-group).csv', encoding='cp949')

# '지역'으로 컬럼명 변경
rawData1.rename(columns={'행정구역별(1)':'행정구역'}, inplace=True)

# 세종시 데이터
# 값이 없는 2016년 이전의 값은 모두 0으로 처리
for col in rawData1.columns[1:]:
  if col == '2016' : break 
  rawData1.loc[8, col] = 0

# 타입 변경
rawData1.iloc[:, 1:] = rawData1.iloc[:, 1:].astype(float)

# 전국, 수도권, 지방 행 추가
# 일단 전국 값으로 복사한 행을 추가후 이름을 바꿈
rawData1.loc[18] = rawData1.loc[0]
rawData1.loc[19] = rawData1.loc[0]
rawData1.loc[20] = rawData1.loc[0]
rawData1.loc[18, '행정구역'] = '전국'
rawData1.loc[19, '행정구역'] = '수도권'
rawData1.loc[20, '행정구역'] = '지방'

# 반복문으로 전국, 수도권, 지방의 평균 계산
for i in range(1, len(rawData1.columns)):
  rawData1.iloc[18, i] = rawData1.iloc[1:18, i].mean()
  rawData1.iloc[19, i] = rawData1.iloc[[1, 4, 9], i].mean()
  rawData1.iloc[20, i] = rawData1.iloc[[2,3,5,6,7,8,10,11,12,13,14,15,16,17], i].mean()

# 반올림
rawData1.iloc[:, 1:] = rawData1.iloc[:, 1:].round(decimals=2)

# 인덱스 재정렬
rawData1 = rawData1.reindex(index=[18, 19, 20, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17])
rawData1.reset_index(drop=True, inplace=True)

# csv로 파일 저장
# pd.DataFrame(rawData1).to_csv('/content/drive/MyDrive/멀티캠퍼스/[D9&10] 데이터시각화 프로젝트_4조/전처리완료 Data/소비자물가등락률.csv', index=False)

In [ ]:
# 전처리한 데이터 불러오기
cpi_rate = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/[D9&10] 데이터시각화 프로젝트_4조/전처리완료 Data/소비자물가등락률.csv')

In [ ]:
cpi_rate.head()

    행정구역  2006  2007  2008  2009  2010  ...  2016  2017  2018  2019  2020  2021
0     전국  2.15  2.34  4.62  2.40  2.91  ...  0.88  1.95  1.47  0.31  0.48  2.59
1    수도권  2.30  2.47  4.63  2.83  2.97  ...  1.00  1.97  1.47  0.43  0.67  2.43
2     지방  2.12  2.31  4.61  2.31  2.90  ...  0.85  1.94  1.47  0.28  0.44  2.62
3  서울특별시  2.10  2.60  4.20  2.90  2.80  ...  1.20  2.00  1.30  0.60  0.60  2.10
4  부산광역시  2.20  2.50  4.70  3.00  3.10  ...  1.20  1.80  1.70  0.50  0.20  2.50

[5 rows x 17 columns]

## 2-2. 소비자 물가지수
- 내용 : 가구에서 일상소비생활을 영위하기 위해 구입하는 상품과 서비스의 가격변동을 측정하기 위하여 작성한 지수
- 2020년 기준 = 100
  - 1월의 값이 105라면 2020년에 비해 5%가 증가한것
- 기간 : 2006년 1월 ~ 2021년 12월, 월별 데이터
  - 세종시 : 2020년 1월 ~
- 출처 : [국가통계포털 KOSIS / 소비자 물가지수](https://kosis.kr/statHtml/statHtml.do?orgId=101&tblId=INH_1J20003&conn_path=I2)

In [ ]:
rawData = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/[D9&10] 데이터시각화 프로젝트_4조/Data/경제 데이터/소비자물가지수_시도(https:  kosis.kr statisticsList statisticsListIndex.do?menuId=M_01_03_01&vwcd=MT_GTITLE01&parmTabId=M_01_01&parentId=105.1;&outLink=Y#content-group).csv', encoding='cp949')
rawData.head()

  시도별(1) 시도별(2) 2006. 01 2006. 02  ... 2021. 09 2021. 10 2021. 11 2021. 12
0     전국     소계   75.231   75.381  ...   103.17   103.35   103.87   104.04
1     전국  서울특별시   74.487   74.708  ...   102.67   102.90   103.20   103.32
2     전국  부산광역시   74.255   74.328  ...   103.17   103.22   103.63   103.87
3     전국  대구광역시   74.608   74.755  ...   103.43   103.56   104.11   104.30
4     전국  인천광역시   75.510   75.584  ...   103.41   103.56   104.06   104.38

[5 rows x 194 columns]

In [ ]:
rawData = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/[D9&10] 데이터시각화 프로젝트_4조/Data/경제 데이터/소비자물가지수_시도(https:  kosis.kr statisticsList statisticsListIndex.do?menuId=M_01_03_01&vwcd=MT_GTITLE01&parmTabId=M_01_01&parentId=105.1;&outLink=Y#content-group).csv', encoding='cp949')


# 불필요한 컬럼명 '시도별(1)' 삭제
rawData.drop(columns=['시도별(1)'], inplace=True)

# '시도별(2)'컬럼을 '지역'으로 변경
rawData.rename(columns={'시도별(2)' : '행정구역'}, inplace=True)

# 행 이름 '소계' -> '전국'
rawData.iloc[0, 0] = '전국'

# 세종시 데이터 처리
# 이 데이터는 2020년 1월부터 값이 있어서 이전까지 0처리 했습니다
for col in rawData.columns[1:]:
  if col == '2020. 01' : break 
  rawData.loc[8, col] = 0

# 연도별 평균 계산하기 위해 float로 타입 변환
rawData.iloc[:, 1:] = rawData.iloc[:, 1:].astype(float)

# 연도별 평균
for i in range(16):
  rawData[f'{i+2006}'] = 0
  rawData[f'{i+2006}'] = rawData.iloc[:, (i*12)+1 : (i*12)+13].mean(axis=1)

# 행정구역 컬럼과 평균 컬럼들만 인덱싱
rawData = rawData.iloc[:, [0, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208]]

# 전국, 수도권, 지방 평균 값 넣을 행 추가
rawData.loc[18] = rawData.loc[0]
rawData.loc[19] = rawData.loc[0]
rawData.loc[20] = rawData.loc[0]
rawData.loc[18, '행정구역'] = '전국'
rawData.loc[19, '행정구역'] = '수도권'
rawData.loc[20, '행정구역'] = '지방'

# 전국, 수도권, 지방 각각 평균 계산
for i in range(1, len(rawData.columns)):
  rawData.iloc[18, i] = rawData.iloc[1:18, i].mean()
  rawData.iloc[19, i] = rawData.iloc[[1, 4, 9], i].mean()
  rawData.iloc[20, i] = rawData.iloc[[2,3,5,6,7,8,10,11,12,13,14,15,16,17], i].mean()

# 소수점 둘째 반올림
rawData.iloc[:, 1:] = rawData.iloc[:, 1:].round(decimals=2)

# 인덱스 재정렬
rawData = rawData.reindex(index=[18, 19, 20, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17])
rawData.reset_index(drop=True, inplace=True)

# csv 파일로 저장
# pd.DataFrame(rawData).to_csv('/content/drive/MyDrive/멀티캠퍼스/[D9&10] 데이터시각화 프로젝트_4조/전처리완료 Data/소비자물가지수.csv', index=False)

In [ ]:
# 위에서 전처리한 데이터 불러오기
cpi = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/[D9&10] 데이터시각화 프로젝트_4조/전처리완료 Data/소비자물가지수.csv')

In [ ]:
cpi.head()

    행정구역   2006   2007   2008   2009  ...   2017   2018   2019   2020    2021
0     전국  71.95  73.73  77.35  79.33  ...  91.99  93.38  93.66  100.0  102.59
1    수도권  75.90  77.79  81.39  83.70  ...  97.47  98.92  99.33  100.0  102.43
2     지방  71.10  72.86  76.49  78.39  ...  90.81  92.19  92.45  100.0  102.62
3  서울특별시  75.28  77.25  80.47  82.84  ...  97.49  98.80  99.38  100.0  102.10
4  부산광역시  75.06  76.91  80.55  83.00  ...  97.64  99.34  99.82  100.0  102.46

[5 rows x 17 columns]

## 2-3. 예금은행 대출 금액
- 단위 : 십억원
- 기간 : 2006년 1월 ~ 2021년 10월, 월별 데이터
  - 세종시 : 2012년 9월 ~ 
- 내용 : 지역별 은행 대출 금액을 나타냄
- 가정 : 금리에 따라 다르겠지만, 대출 가능 금액이 높을수록 대출을 많이 받아 대출금을 아파트 구매에 사용하는 경향이 있지 않을까?(수요증가)
- 출처 : [국가통계포털 KOSIS / 예금은행대출금액](https://kosis.kr/statHtml/statHtml.do?orgId=101&tblId=DT_1YL6801E&conn_path=I2)

In [ ]:
bank = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/[D9&10] 데이터시각화 프로젝트_4조/Data/경제 데이터/예금은행대출금액_시도(https:  kosis.kr statisticsList statisticsListIndex.do?menuId=M_01_03_01&vwcd=MT_GTITLE01&parmTabId=M_01_01&parentId=105.1;&outLink=Y#content-group).csv', encoding='cp949')
bank.head()

   행정구역별  2006. 01  2006. 02  ...   2021. 08   2021. 09   2021. 10
0     전국  617446.1  623634.3  ...  2005346.5  2020839.2  2037461.7
1  서울특별시  263846.4  266050.9  ...   775786.1   782832.8   790079.1
2  부산광역시   40743.2   41129.3  ...   140906.9   141930.3   142908.5
3  대구광역시     27683   28079.4  ...    95956.4    96492.0    97353.1
4  인천광역시     28698   28966.4  ...   107176.2   108007.8   108733.1

[5 rows x 191 columns]

In [ ]:
# 데이터 불러오기
bank = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/[D9&10] 데이터시각화 프로젝트_4조/Data/경제 데이터/예금은행대출금액_시도(https:  kosis.kr statisticsList statisticsListIndex.do?menuId=M_01_03_01&vwcd=MT_GTITLE01&parmTabId=M_01_01&parentId=105.1;&outLink=Y#content-group).csv', encoding='cp949')

# 컬럼명 변경
bank.rename(columns={'행정구역별' : '행정구역'}, inplace=True)

# 세종시 데이터 처리
# 2012년 9월 이전의 데이터는 0 처리
for col in bank.columns[1:]:
  if col == '2012. 09' : break 
  bank.loc[8, col] = 0

# 행정구역 컬럼 제외한 값 타입 변경
bank.iloc[:, 1:] = bank.iloc[:, 1:].astype(float)

# 연도별 평균
for i in range(16):
  bank[f'{i+2006}'] = 0
  bank[f'{i+2006}'] = bank.iloc[:, (i*12)+1 : (i*12)+13].mean(axis=1)

# 행정구역과 평균 인덱싱
bank = bank.iloc[:, [0,191, 192,  193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206]]

# 전국, 수도권, 지방 행 추가
bank.loc[18] = bank.loc[0]
bank.loc[19] = bank.loc[0]
bank.loc[20] = bank.loc[0]
bank.loc[18, '행정구역'] = '전국'
bank.loc[19, '행정구역'] = '수도권'
bank.loc[20, '행정구역'] = '지방'

# 각각 평균 계산후 값 채워넣기
for i in range(1, len(bank.columns)):
  bank.iloc[18, i] = bank.iloc[1:18, i].mean()
  bank.iloc[19, i] = bank.iloc[[1, 4, 9], i].mean()
  bank.iloc[20, i] = bank.iloc[[2,3,5,6,7,8,10,11,12,13,14,15,16,17], i].mean()

# 소수점 반올림
bank.iloc[:, 1:] = bank.iloc[:, 1:].round(decimals=2)

# 인덱스 재정렬
bank = bank.reindex(index=[18, 19, 20, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17])
bank.reset_index(drop=True, inplace=True)

# 파일 저장
# pd.DataFrame(bank).to_csv('/content/drive/MyDrive/멀티캠퍼스/[D9&10] 데이터시각화 프로젝트_4조/전처리완료 Data/대출금액.csv', index=False)

In [ ]:
# 데이터 불러오기
bank = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/[D9&10] 데이터시각화 프로젝트_4조/전처리완료 Data/대출금액.csv')

In [ ]:
bank.head()

    행정구역       2006       2007  ...       2019       2020       2021
0     전국   38579.42   44290.59  ...   97110.61  106504.09  103606.72
1    수도권  146059.17  169562.49  ...  359587.49  397642.94  388013.25
2     지방   15548.04   17446.61  ...   40865.56   44117.20   42662.46
3  서울특별시  275509.31  314767.18  ...  624760.75  695293.13  682935.34
4  부산광역시   42896.64   48548.61  ...  116786.71  125836.86  122967.20

[5 rows x 17 columns]

# 3. 교통 데이터

## 3-1. 차량 등록 현황
- 기간 : 2011.01 ~ 2021.11
- 단위 : 대
- 내용 : 2011년 ~ 2021년까지 차량 등록 현황
- 가정 : 차량 등록이 많아지면 인구가 증가한다고 생각할 수 있어서 아파트를 구매 수요가 높아져 가격이 올라가지 않을까?
- 출처 → [자동차등록대수현황_전국시도별_자가용(승용,승합)](https://kosis.kr/statHtml/statHtml.do?orgId=116&tblId=DT_MLTM_5498)

In [ ]:
rawData = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/[D9&10] 데이터시각화 프로젝트_4조/Data/교통 데이터/자동차등록대수현황_전국시도별_자가용(승용,승합)(https:  kosis.kr statHtml statHtml.do?orgId=116&tblId=DT_MLTM_5498).csv', encoding='cp949')
vehicles = rawData
vehicles.head()

   시도(1)  시군구(1)  레벨01(1) 2011. 01  ... 2021. 08 2021. 09 2021. 10 2021. 11
0  시도(1)  시군구(1)  레벨01(1)      자가용  ...      자가용      자가용      자가용      자가용
1     서울       계       승용  2292616  ...  2604675  2608232  2608313  2610063
2     서울       계       승합   157299  ...    83253    82817    82395    82024
3     부산       계       승용   855221  ...  1121550  1120999  1122705  1124594
4     부산       계       승합    58036  ...    33182    33066    32940    32802

[5 rows x 134 columns]

In [ ]:
# 불필요한 col, row제거
vehicles = vehicles.drop(['시군구(1)', '레벨01(1)'], axis=1); vehicles.drop(index=0, inplace=True)

In [ ]:
# 차량 대수 문자열 -> 정수형으로 변경
for i in range(len(vehicles)):
  for j in range(1, len(vehicles.columns)):
    if vehicles.iloc[i][j] == '-': # 세종시의 결측치
      vehicles.iloc[i][j] = 0
    else:
      vehicles.iloc[i][j] = int(vehicles.iloc[i][j])

In [ ]:
# 각 시도별 승용, 승합데이터를 하나로 결합 후 기존 df에 append로 행 추가
regionColumns = vehicles.iloc[:, 0]

for i in range(1, len(regionColumns), 2):
  regionSum = [regionColumns[i]]
  for j in range(1, len(vehicles.columns)):
    regionSum.append(vehicles.iloc[i-1][j] + vehicles.iloc[i][j])
  vehicles.loc[len(vehicles)+1] = regionSum

In [ ]:
# 추가된 행의 인덱스를 포함해 전체 index 재정렬
vehicles.reset_index(drop=True, inplace=True)

In [ ]:
# 추가된 행 이외의 이전 행 데이터들을 삭제 후 index 재정렬
for _ in range(34):
  vehicles.drop([vehicles.index[0]], inplace=True)
vehicles.reset_index(drop=True, inplace=True)

# 7, 8번째 index 위치 변경(경기도, 세종시)
vehicles = vehicles.reindex(index=[0, 1, 2, 3, 4, 5, 6, 8, 7, 9, 10, 11, 12, 13, 14, 15, 16])
vehicles.reset_index(drop=True, inplace=True)

In [ ]:
# '시도(1)' -> '행정구역'으로 변경하고 '행정구역'column의 index값 들을 변경
vehicles.rename(columns={'시도(1)':'행정구역'}, inplace=True)
vehicles['행정구역'] = ['서울특별시','부산광역시','대구광역시','인천광역시','광주광역시','대전광역시','울산광역시','세종특별자치시','경기도','강원도','충청북도','충청남도','전라북도','전라남도','경상북도','경상남도','제주특별자치도']

# 년도별 평균값을 구해줄 새로운 변수 선언
vehicles_avg = vehicles

In [ ]:
# 년.월의 column값들의 평균을 저장할 년도 column 생성 후 0으로 초기화
for i in range((2021-2011)+1):
  vehicles_avg['{}{}'.format(i+2011,'(차량등록현황)')] = 0

# 년도별 평균값(2011 ~ 2020)
for i in range(len(vehicles_avg)):
  for j in range((2020-2011)+1):
    vehicles_avg['{}{}'.format(2011+j, '(차량등록현황)')][i] = int(sum(vehicles_avg.iloc[i][(j*12)+1:(j*12)+13])/12) # 2011에서 2021까지 columns에 j번째 인덱스에 j행 [1:13까지 값을 ]

# 2021년도 평균값
for i in range(len(vehicles_avg)):
  vehicles_avg['{}{}'.format(2021, '(차량등록현황)')][i] = int(sum(vehicles_avg.iloc[i, 121:132])/12)

# 년.월 column 제거
for col in vehicles_avg.columns[1:132]:
  del vehicles_avg[col]

In [ ]:
# 1번째 column에 단위표시
vehicles_avg.rename(columns={'2011(차량등록현황)':'2011(차량등록현황, 대)'}, inplace=True)

In [ ]:
# 전국, 수도권, 지방 index를 추가 후 각각 값을 계산
nationWide = pd.Series(['전국', '수도권', '지방'])

for i in range(len(nationWide)):
  if nationWide[i] == '전국':
    nationWideSum = [nationWide[i]]
    for j in range(1, len(vehicles_avg.columns)):
      nationWideSum.append(sum(vehicles_avg.iloc[:, j]))

  elif nationWide[i] == '수도권':
    nationWideSum = [nationWide[i]]
    for k in range(1, len(vehicles_avg.columns)):
      nationWideSum.append(vehicles_avg.iloc[0, k] + vehicles_avg.iloc[3, k] + vehicles_avg.iloc[8, k])
  
  elif nationWide[i] == '지방':
    nationWideSum = [nationWide[i]]
    for l in range(1, len(vehicles_avg.columns)):
      nationWideSum.append(sum(vehicles_avg.iloc[1:3, l]) + sum(vehicles_avg.iloc[4:8, l]) + sum(vehicles_avg.iloc[9:17, l]))

  vehicles_avg.loc[len(vehicles_avg)] = nationWideSum

In [ ]:
# 추가한 전국, 수도권, 지방index를 맨위로 정렬
vehicles_avg = vehicles_avg.reindex(index=[17, 18, 19, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16])
vehicles_avg.reset_index(drop=True, inplace=True)

In [ ]:
# 년도만 나오는 column으로 변경
for i in range(1, len(vehicles_avg.columns)):
    vehicles_avg.rename(columns={'{}'.format(vehicles_avg.columns[i]):'{}'.format(str(2010+i))}, inplace=True)

In [ ]:
# 최종 dataframe
vehicles_avg.head()

    행정구역      2011      2012      2013  ...      2018      2019      2020      2021
0     전국  14344043  14703924  15124904  ...  18132563  18560727  19042959  17935059
1    수도권   6669634   6786132   6948541  ...   8291952   8502437   8736451   8252534
2     지방   7674409   7917792   8176363  ...   9840611  10058290  10306508   9682525
3  서울특별시   2456349   2457975   2471797  ...   2625827   2629487   2651901   2457908
4  부산광역시    918353    927484    944706  ...   1090721   1107193   1125301   1054164

[5 rows x 12 columns]

## 3-2. 교통사고 발생률
- 기간 : 2006.01 ~ 2020.12
- 단위 : 건
- 내용 : 2006년 ~ 2020년까지 교통사고 발생률
- 가정 : 해당 지역에 교통사고 발생률이 높아지면 지역의 차량이 많고, 대기오염도 높다는 의미 일 수 있어 그 지역에 대한 아파트 구매 수요가 낮아져 가격이 하락하지 않을까? 
- 출처 → [시도별_교통사고](https://kosis.kr/statHtml/statHtml.do?orgId=132&tblId=DT_V_MOTA_016&conn_path=I2)

In [ ]:
# 전처리 파일 불러오기
# 파일 출처 https://kosis.kr/statHtml/statHtml.do?orgId=132&tblId=DT_V_MOTA_016&conn_path=I2 경찰청(경찰접수교통사고현황)
rawData = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/[D9&10] 데이터시각화 프로젝트_4조/Data/교통 데이터/시도별_교통사고_(https:  kosis.kr statHtml statHtml.do?orgId=132&tblId=DT_V_MOTA_016&conn_path=I2).csv', encoding='cp949')
accident = rawData
accident.head()

   시도별(1)  월별(1)      2006      2007  ...      2017      2018      2019      2020
0  시도별(1)  월별(1)  사고건수 (건)  사고건수 (건)  ...  사고건수 (건)  사고건수 (건)  사고건수 (건)  사고건수 (건)
1      서울     전체     38298     39410  ...     38625     38795     39258     35227
2      부산     전체     12853     10136  ...     11753     11937     12992     11913
3      대구     전체     13097     13561  ...     12970     13199     14536     12940
4      인천     전체     10909     10483  ...      7719      7632      8698      8505

[5 rows x 17 columns]

In [ ]:
# 불필요한 col, row제거
accident = accident.drop(['월별(1)'], axis=1); accident.drop(index=0, inplace=True)
accident.reset_index(drop=True, inplace=True)

In [ ]:
# column명 행정구역명 변경
for i in accident.columns[:]:
  if i == '시도별(1)':
    accident.rename(columns={i:'행정구역'}, inplace=True)
  if i == '2006':
    accident.rename(columns={'{}'.format(i):'{}'.format(i+'(교통사고, 건)')}, inplace=True)
  else:
    accident.rename(columns={'{}'.format(i):'{}'.format(i+'(교통사고)')}, inplace=True)
accident['행정구역'] = ['서울특별시','부산광역시','대구광역시','인천광역시','광주광역시','대전광역시','울산광역시','세종특별자치시','경기도','강원도','충청북도','충청남도','전라북도','전라남도','경상북도','경상남도','제주특별자치도']

In [ ]:
# 세종시 '-' 값을 0으로 변경
accident.iloc[7][1:7] = 0

In [ ]:
# '숫자문자열' -> 정수형으로 변경
for i in accident.columns[1:]:
  accident = accident.astype({i:int})

In [ ]:
# 전국, 수도권, 지방 index를 추가 후 각각 값을 계산
jeonSuJi = pd.Series(['전국', '수도권', '지방'])
for i in jeonSuJi:
  if i == '전국':
    jeonSuJi_sum = [i]
    for j in range(1, len(accident.columns)):
      jeonSuJi_sum.append(sum(accident.iloc[:, j]))

  elif i == '수도권':
    jeonSuJi_sum = [i]
    for k in range(1, len(accident.columns)):
      jeonSuJi_sum.append(accident.iloc[0, k] + accident.iloc[3, k] + accident.iloc[8, k]) # 서울, 인천, 경기 index를 덧셈

  elif i == '지방':
    jeonSuJi_sum = [i]
    for l in range(1, len(accident.columns)):
      jeonSuJi_sum.append(sum(accident.iloc[1:3, l]) + sum(accident.iloc[4:8, l]) + sum(accident.iloc[9:17, l]))  # 서울, 인천, 경기를 제외한 나머지 index를 덧셈
  
  # accident 제일 마지막 index에 새로운 index를 추가하고 전국, 수도권, 지방의 년도별 계산 값이 들어있는 list를 대입 
  accident.loc[len(accident)] = jeonSuJi_sum

In [ ]:
# 추가한 전국, 수도권, 지방index를 맨위로 정렬
accident = accident.reindex(index=[17, 18, 19, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16])
accident.reset_index(drop=True, inplace=True)

In [ ]:
# 년도만 나오는 column으로 변경
for i in range(1, len(accident.columns)):
    accident.rename(columns={'{}'.format(accident.columns[i]):'{}'.format(str(2005+i))}, inplace=True)

In [ ]:
# 최종 dataframe
accident.head()

    행정구역    2006    2007    2008  ...    2017    2018    2019    2020
0     전국  213745  211662  215822  ...  216335  217148  229600  209654
1    수도권   91243   91420   92519  ...   96971   99875  103419   96123
2     지방  122502  120242  123303  ...  119364  117273  126181  113531
3  서울특별시   38298   39410   41702  ...   38625   38795   39258   35227
4  부산광역시   12853   10136   12100  ...   11753   11937   12992   11913

[5 rows x 16 columns]

# 4. 기타 데이터

## 4-1. 미분양 주택현황
- 기간 : 2000.12 ~ 2021.10
- 단위 : 호
- 내용 : 2000년도 부터 2021년까지의 미분양된 주택 호수를 나타낸 지표.
- 가정 : 미분양 주택이 많아지면 아파트 구매 수요가 줄어든다는 의미이므로 아파트 가격이 하락하지 않을까?
- 출처 → [국가통계포털 KOSIS // 미분양주택현황(시도/시/군/구)](https://kosis.kr/statisticsList/statisticsListIndex.do?menuId=M_01_03_01&vwcd=MT_GTITLE01&parmTabId=M_01_01&parentId=107.1;&outLink=Y)

In [ ]:
unapt = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/[D9&10] 데이터시각화 프로젝트_4조/Data/기타 데이터/미분양주택현황_시도_시_군_구(https:  kosis.kr statisticsList statisticsListIndex.do?menuId=M_01_03_01&vwcd=MT_GTITLE01&parmTabId=M_01_01&parentId=107.1;&outLink=Y).csv의 사본', encoding='cp949')
unapt.head()

   구분 시군구 2000. 12 2002. 12  ... 2021. 07 2021. 08 2021. 09 2021. 10
0  서울   계     3037       52  ...       59       55       55       55
1  부산   계     6046     1936  ...      982      951      962      973
2  대구   계     2944     2250  ...     1148     2365     2093     1933
3  인천   계     1862       17  ...      341      339      440      428
4  광주   계     2704      868  ...       54       39       36       33

[5 rows x 186 columns]

In [ ]:
from copy import deepcopy
# 전처리할 자료 불러오기

unapt = pd.read_csv('/content/drive/MyDrive/프로젝트/data/미분양주택현황_시도_시_군_구(https:  kosis.kr statisticsList statisticsListIndex.do?menuId=M_01_03_01&vwcd=MT_GTITLE01&parmTabId=M_01_01&parentId=107.1;&outLink=Y).csv', encoding='cp949')

# 비교대상 파일의 인덱스 명칭을 수정해줍니다.

unapt['구분'] = ['서울특별시','부산광역시','대구광역시','인천광역시','광주광역시','대전광역시','울산광역시','세종특별자치시','경기도','강원도','충청북도','충청남도','전라북도','전라남도','경상북도','경상남도','제주특별자치도']

# 불필요하다고 판단되는 시군구라는 열을 삭제합니다.

unapt.drop(['시군구'], axis = 1, inplace = True)


unapt_Dec = deepcopy(unapt)
# 2000년도부터 2006년까지의 데이터는 1월부터 11월의 미분양 주택수가 표기가 되어있지않습니다.
# 그렇기 때문에 12월을 기준으로 미분양된 주택의 수를 데이터화 합니다.
# 2007~2020년 데이터 간소화
# 2021년은 10월까지만 자료가 있으므로 따로 처리를 해줍니다.

# 2000년도부터 2006년의 자료는 12월뿐이므로 따로 처리합니다.
for i in range(1,7):                        
  unapt_Dec[f'{i+2000}'] = 0             
  for j in range(len(unapt_Dec)):         
    unapt_Dec[f'{i+2000}'][j] = unapt_Dec.iloc[j, i]

# 2007년01월 이전의 자료는 삭제해줍니다.

for col in unapt_Dec.columns[1:]:  
  if col == '2007. 01' : break  
  del unapt_Dec[col]

# 각 해의 12월자료만 추출하는 코드를 작성합니다

for i in range(1,15):                        
  unapt_Dec[f'{i+2006}'] = 0             
  for j in range(len(unapt_Dec)):         
    unapt_Dec[f'{i+2006}'][j] = unapt_Dec.iloc[j, i*12]

# 2021년은 10월의 자료를 기준으로 할 것이기 때문에 그 이전의 자료는 삭제합니다.

for col in unapt_Dec.columns[1:]:  
  if col == '2021. 01' : break  
  del unapt_Dec[col]

# 2001년자료는 없으므로 2000년으로 수정합니다.

unapt_Dec.rename(columns={'2001':'2000'}, inplace = True)

# 2021년 10월의 자료만 추출하는 코드를 작성합니다.

unapt_Dec['2021'] = 0           
for j in range(len(unapt_Dec)):         
   unapt_Dec['2021'][j] = unapt_Dec.iloc[j, 10]

# 2021년의 월별자료를 삭제해줍니다.

for col in unapt_Dec.columns[1:]:  
  if col == '2000' : break  
  del unapt_Dec[col]

unapt_Dec.rename(columns={'구분' : '행정구역'}, inplace=True)

# 전국, 수도, 지방의 인덱스를 추가해줍니다.

unapt_Dec.loc[17] = unapt_Dec.loc[0]
unapt_Dec.loc[18] = unapt_Dec.loc[0]
unapt_Dec.loc[19] = unapt_Dec.loc[0]
unapt_Dec.loc[17, '행정구역'] = '전국'
unapt_Dec.loc[18, '행정구역'] = '수도권'
unapt_Dec.loc[19, '행정구역'] = '지방'

for col in unapt_Dec.columns[1:]:
  if col == '2012' : break 
  unapt_Dec.at[7,col] = 0

# 세종시 데이터의 결측값에는 0을 넣고 문자열로된 수들을 플롯형으로 바꿔줍니다.

unapt_Dec.iloc[:, 1:] = unapt_Dec.iloc[:, 1:].astype(float)

# 전국, 수도권, 지방에 해당하는 데이터의 합계를 구해줍니다.

for i in range(1, len(unapt_Dec.columns)):
  unapt_Dec.iloc[17, i] = unapt_Dec.iloc[0:17, i].sum()
  unapt_Dec.iloc[18, i] = unapt_Dec.iloc[[0,3,8], i].sum()
  unapt_Dec.iloc[19, i] = unapt_Dec.iloc[[1,2,4,5,6,7,9,10,11,12,13,14,15,16], i].sum()

# 전국, 수도권, 지방을 윗 인덱스로 올리고 재정렬한다

unapt_Dec = unapt_Dec.reindex(index=[17, 18, 19, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16])
unapt_Dec.reset_index(drop=True, inplace=True)

In [ ]:
# 전처리 완료한 데이터 불러오기

pd.DataFrame(unapt_Dec).to_csv('/content/drive/MyDrive/프로젝트/[D9&10] 데이터시각화 프로젝트_4조/윤성준/미분양주택현황_전처리(최종).csv',index=False)

In [ ]:
unapt_Dec.head()

    행정구역     2000     2002     2003  ...     2018     2019     2020     2021
0     전국  58550.0  24923.0  38261.0  ...  58838.0  47797.0  19005.0  14075.0
1    수도권  19785.0   1387.0   7370.0  ...   6319.0   6202.0   2131.0   1290.0
2     지방  38765.0  23536.0  30891.0  ...  52519.0  41595.0  16874.0  12785.0
3  서울특별시   3037.0     52.0    735.0  ...     27.0    151.0     49.0     55.0
4  부산광역시   6046.0   1936.0   3657.0  ...   4153.0   2115.0    973.0    973.0

[5 rows x 22 columns]

## 4-2. 삶의 만족도
- 기간 : 2009 ~ 2021
- 단위 : %
- 내용 : 2009년도 부터 2021년까지의 시민의 삶의 만족도를 5가지의 선택지로 나누어 그 비율을 조사한 자료.
- 가정 : 삶의 만족도의 5가지 지표를 점수화하여 평균을 낸 수를 비교해보면 만족도가 높은 곳의 아파트 가격이 높지 않을까?
- 출처 → [국가통계포털 KOSIS // 미분양주택현황(시도/시/군/구)](https://kosis.kr/statisticsList/statisticsListIndex.do?menuId=M_01_03_01&vwcd=MT_GTITLE01&parmTabId=M_01_01&parentId=112.1;&outLink=Y)

In [ ]:
sat = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/[D9&10] 데이터시각화 프로젝트_4조/Data/기타 데이터/삶의_만족도_시도(https:  kosis.kr statisticsList statisticsListIndex.do?menuId=M_01_03_01&vwcd=MT_GTITLE01&parmTabId=M_01_01&parentId=112.1;&outLink=Y).csv의 사본', encoding='cp949')
sat.head()

   행정구역별(1)  특성별(1)  특성별(2)   2009 2009.1  ... 2021.1 2021.2 2021.3  2021.4  2021.5
0  행정구역별(1)  특성별(1)  특성별(2)      계  매우 만족  ...  매우 만족  약간 만족     보통  약간 불만족  매우 불만족
1        전국      전체       계  100.0    3.3  ...    9.8   24.2   43.1    18.1     4.8
2        전국      성별      남자  100.0    3.9  ...   10.2   23.6   42.8    18.2     5.3
3        전국      성별      여자  100.0    2.8  ...    9.5   24.8   43.4    18.1     4.3
4     서울특별시      전체       계  100.0    3.7  ...    9.3   24.8   42.3    18.1     5.5

[5 rows x 81 columns]

In [ ]:
# 전처리할 자료 불러오기
# sat = pd.read_csv('/content/drive/MyDrive/프로젝트/data/삶의_만족도_시도(https://kosis.kr/statisticsList/statisticsListIndex.do?menuId=M_01_03_01&vwcd=MT_GTITLE01&parmTabId=M_01_01&parentId=112.1;&outLink=Y).csv', encoding='cp949')
sat = pd.read_csv('/content/drive/MyDrive/프로젝트/data/삶의_만족도_시도(https://kosis.kr/statisticsList/statisticsListIndex.do?menuId=M_01_03_01&vwcd=MT_GTITLE01&parmTabId=M_01_01&parentId=112.1;&outLink=Y).csv', encoding='cp949')

# 전국단위의 인덱스를 제거합니다
sat.drop(index=[1,2,3],inplace=True)

# 인덱스 제거 후 재정렬합니다.
sat.reset_index(drop=True, inplace=True)

# 전체는 남기고 성별로 구별한 인덱스는 제거해줍니다.
for i in range(1, 52):
  if i%3 == 1: continue
  sat.drop(index=[i], inplace=True)

# 특성별 컬럼은 삭제해줍니다.
sat.rename(columns={'행정구역별(1)':'지역'}, inplace = True)
sat.drop(['특성별(1)', '특성별(2)'], axis = 1, inplace = True)

# 매우만족에는 5점, 약간만족은 4점, 보통은 3점, 약간불만족은 2점, 매우불만족은 1점으로 부가하여

# 지역별 평균을 낸 후, 만족도의 총량을 비교해보는 방식을 이용합니다.
for i in range(13):
  sat.drop([f'{i+2009}'], axis = 1, inplace = True)

# 세종시 데이터 결측치에 0.0 값을 넣어줍니다
for col in sat.columns[1:]: 
  if col == '2015.1' : break 
  sat.at[22,col] = 0.0

# 행정구역별 인덱스를 제거합니다. 만족도별 평균을 낼것이므로 더이상 불필요합니다.
sat.drop(index=[0], inplace=True)

# 문자형으로된 숫자들을 실수형으로 처리해줍니다.
for col in sat.columns[1:]:
  sat = sat.astype({col:'float'})

# 인덱스 정렬이 안되어있으므로 정렬해줍니다.
sat.reset_index(drop=True, inplace=True)
sat_avg.reset_index(drop=True, inplace=True)

# 매우만족에 5점, 만족에 4점, 보통은 3점, 불만족은 2점, 매우불만족은 1점을 부여해 평균치를 계산하는 코드를 작성 및 실행합니다.
sat_avg = deepcopy(sat)
for i in range(13):
  sat_avg[f'{i+2009}'] = 0.0
for k in range(17): # 행
  for i in range(13): # 연도 
    sat_avg[f'{i+2009}'][k] = round((sat.iloc[k, i*5+1] * 5 + sat.iloc[k, (i*5)+2] * 4 + sat.iloc[k, (i*5)+3] * 3 + sat.iloc[k, (i*5)+4] * 2 + sat.iloc[k, (i*5)+5] * 1)/5 , 2)
sat_avg

# 계산을 마친 후 평균값을 제외한 데이터는 삭제해줍니다.
for col in sat_avg.columns[1:] : 
  if col == '2009': break    
  del sat_avg[col]

# 이전에 처리하지 못한 지역을 행정구역으로 변경해줍니다.
sat_avg.rename(columns={'지역':'행정구역'}, inplace=True)

# 전국, 수도권, 지방의 인덱스를 추가해줍니다.
sat_avg.loc[17] = sat_avg.loc[0]
sat_avg.loc[18] = sat_avg.loc[0]
sat_avg.loc[19] = sat_avg.loc[0]
sat_avg.loc[17, '행정구역'] = '전국'
sat_avg.loc[18, '행정구역'] = '수도권'
sat_avg.loc[19, '행정구역'] = '지방'

# 전국, 수도권, 지방의 평균값을 구합니다.
for i in range(1, len(sat_avg.columns)):
  sat_avg.iloc[17, i] = sat_avg.iloc[0:17, i].mean()
  sat_avg.iloc[18, i] = sat_avg.iloc[[0, 3, 8], i].mean()
  sat_avg.iloc[19, i] = sat_avg.iloc[[1,2,4,5,6,7,9,10,11,12,13,14,15,16], i].mean()

# 하위 인덱스를 상위로 끌어올린후 재정렬해줍니다.
sat_avg = sat_avg.reindex(index=[17, 18, 19, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16])
sat_avg.reset_index(drop=True, inplace=True)
sat_avg.iloc[:, 1:] = sat_avg.iloc[:, 1:].round(decimals=2) #소수점 둘째자리까지 나타내줍니다.

# 파일을 저장합니다
pd.DataFrame(sat_avg).to_csv('/content/drive/MyDrive/프로젝트/[D9&10] 데이터시각화 프로젝트_4조/윤성준/삶의만족도(최종)', index=False)

전처리 완료된 데이터 불러오기

In [ ]:
sat_avg = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/[D9&10] 데이터시각화 프로젝트_4조/전처리완료 Data/삶의만족도.csv')
sat_avg.head()

    행정구역   2009   2010   2011   2012  ...   2017   2018   2019   2020   2021
0     전국  53.06  57.88  55.17  59.52  ...  62.42  67.30  66.92  68.55  64.17
1    수도권  57.18  61.87  58.95  62.14  ...  61.10  66.35  67.14  68.81  62.63
2     지방  52.18  57.03  54.36  58.96  ...  62.71  67.51  66.87  68.50  64.50
3  서울특별시  57.68  64.02  60.22  62.70  ...  61.36  66.78  66.58  69.24  62.86
4  부산광역시  54.36  60.46  57.86  63.20  ...  61.40  66.46  64.28  67.46  61.90

[5 rows x 14 columns]